<div class="story-show card">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="back-button text-left">
          <%= link_to :back, data: { turbolinks: false }, class: "btn btn-sm btn-dark" do %>
            <i class="fas fa-home mr-1"></i> Go Back
          <% end %>
        </div>
        <div class="header mt-2 mt-md-0 text-center">
          <%= link_to root_path, data: { turbolinks: false } do %>
            <%= image_pack_tag "sap-logo.png", id: "logo", class: "m-auto" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-md-5 img-div text-center">
        <% if story.internal_image.present? && story.external_image.present? %>
          <div id="showImageCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#showImageCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#showImageCarousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag(story.internal_image, class: "grid-image") %>
              </div>
              <div class="carousel-item">
                <%= image_tag(story.external_image.src_url, class: "grid-image") %>
              </div>
            </div>
            <a class="carousel-control-prev" href="#showImageCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#showImageCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        <% elsif story.internal_image %>
          <%= image_tag(story.internal_image, class: "grid-image") %>
        <% else %>
          <%= image_tag(story.external_image.src_url, class: "grid-image") %>
        <% end %>
      </div>
      <div class="col-12 col-md-7">
        <div class="card-body">
          <% if story.editor_tagline %>
            <div class="tagline-div-<%= story.id %>">
                <h6 class="card-title text-center font-italic font-bold"><%= story.editor_tagline %></h6>
            </div>
          <% end %>

          <% if story.author.present? || story.story_display_date.present? || story.locations.present? || story.place_categories.present? || story.story_categories.present? %>
            <hr>
            <dl class="row">
              <% if story.author.present? %>
                <dt class="col-6 col-lg-5">Author:</dt>
                <dd class="col-6 col-lg-7"><%= story.author.presence || '-' %></dd>
              <% end %>

              <% if story.story_display_date.present? %>
                <dt class="col-6 col-lg-5">Story Date:</dt>
                <dd class="col-6 col-lg-7"><%= story.story_display_date.presence || '-' %></dd>
              <% end %>

              <% if story.locations.present? %>
                <dt class="col-6 col-lg-5"><%= 'Location'.pluralize(story.locations.size) %>:</dt>
                <dd class="col-6 col-lg-7"><%= story.display_location.presence || '-' %></dd>
              <% end %>

              <% if story.place_categories.present? %>
                <dt class="col-6 col-lg-5">Place <%= 'Category'.pluralize(story.place_categories.size) %>:</dt>
                <dd class="col-6 col-lg-7"><%= story.display_place_categories.presence || '-' %></dd>
              <% end %>

              <% if story.story_categories.present? %>
                <dt class="col-6 col-lg-5">Story <%= 'Category'.pluralize(story.story_categories.size) %>:</dt>
                <dd class="col-6 col-lg-7"><%= story.display_story_categories.presence || '-' %></dd>
              <% end %>
            </dl>
          <% end %>

          <% if story.custom_body.present? %>
            <hr>
            <div>
              <%= story.custom_body %>
            </div>
          <% end %>

          <% if story.list_items.present? %>
            <hr>
            <div class='text-left'>
              <h6 class='text-center'>Related Stories</h6>
              <% story.list_items.each do |list_item| %>
                <p>
                  <%= link_to story_path(list_item.story_id), data: { toggle: 'tooltip', placement: 'top', title: "View #{list_item.story.type.underscore.split('_').first.capitalize} Story" }, class: 'text-info', target: '_blank'  do %>
                    <i class='<%= colored_icon_for_story_type(list_item.story.type) %>'></i> <%= list_item.story.latest_url&.url_title %>
                  <% end %>
                </p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
