
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="jumbotron bg-white sign-up mt-5">
    <div class="header text-center">
      <%= link_to root_path, data: { turbolinks: false } do %>
      	<%= image_pack_tag "sap-logo.png", id: "logo", class: "m-auto" %>
			<% end %>
    </div>

    <hr class="my-4">

    <div class="body">
      <p class="lead text-center">Sign up and get access to our curated "Editor Picks"</p>
			<%= devise_error_messages! %>

      <div class="form-group my-4 max-vw-80 mx-auto">
				<%= f.label :first_name, "First Name:" %>
        <%= f.text_field :first_name, required: true, maxlength: 20, autofocus: true, placeholder: "John", class: "form-control" %>
				<small class="form-text text-muted">So we don't have to say "hey you"</small>
      </div>

      <div class="form-group my-4 max-vw-80 mx-auto">
				<%= f.label :last_name, "Last Name:" %>
        <%= f.text_field :last_name, required: false, maxlength: 20, placeholder: "Doe", class: "form-control" %>
      </div>

      <div class="form-group my-4 max-vw-80 mx-auto">
				<%= f.label :email, "Email:" %>
        <%= f.text_field :email, required: true, maxlength: 60, placeholder: "john_doe@email.com", class: "form-control" %>
				<small class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>

			<div class="form-group my-4 max-vw-80 mx-auto">
				<%= f.label :city_preference, 'Cities:' %>
        <%= f.text_area :city_preference, cols: 80, placeholder: "City1, City2, City3, etc", class: "form-control" %>
				<small class="form-text text-muted">
					Which cities or metro areas do you want us to cover for you?<br>
					This will help you to filter stories by your preferencial metropolitan areas.<br>
				</small>
      </div>

			<div class="form-group my-4 max-vw-80 mx-auto">
				<%= f.label :password, 'Password:' %>
				<%= f.password_field :password, required: true, class: "form-control"%>
				<small class="form-text text-muted">Make it strong!</small>
			</div>

			<div class="form-group">
				<%= f.label :password_confirmation, 'Password Confirmation:' %>
				<%= f.password_field :password_confirmation, class: "form-control" %>
			</div>

      <div class="row">
        <div class="m-auto">
          <%= recaptcha_tags %>
        </div>
      </div>

      <div class="sign-in-row mt-4 mx-auto text-center">
        <%= f.submit "Register", class: "btn btn-primary w-50" %>
      </div>
    </div>

    <hr class="my-4">

    <div class="footer text-center">
      <span>
				Not ready just yet? It's okay, we'll be here when you are.<br>
				<strong><%= link_to "Go back", root_path, data: { turbolinks: false } %></strong>
      </span>
    </div>
  </div>
<% end %>
