<h1>Listing place_categories</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @place_categories.each do |place_category| %>
      <tr>
        <td><%= place_category.code %></td>
        <td><%= place_category.name %></td>        <td><%= link_to 'Show', place_category %></td>
        <td><%= link_to 'Edit', edit_place_category_path(place_category) %></td>
        <td><%= link_to 'Destroy', place_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Place Category', new_place_category_path %>
