<h3>Welcome</h3>
<pre>Our mission is to provide curated, professionally written
stories as an alternative to user-contributed content about
places to eat, drink, stay and enjoy life.

Stay tuned—Stories About Places is currently in intensive development.</pre>

<% if false %>
    <% if user_signed_in? %>
        <% if current_user.admin? %>
            <h3>Admin</h3>
            <p><%= link_to 'User count:', users_path %> <%= User.count %></p>
        <% else %>
            <h3>You've signed up. Download a free book.</h3>
            <%= link_to 'Download PDF', products_path('product.pdf'), :class => 'btn btn-success btn-large' %>
        <% end %>
    <% else %>
        <h3>Sign up and download a free book.</h3>
        <%= link_to 'Sign up', new_user_registration_path, :class => 'btn btn-primary btn-large' %>
    <% end %>
<% end %>


<div class="container-fluid">
  <div class="row-fluid">
        <% @stories.each do |story| %>
            <div class="col-lg-4 text-left">

                <% story.urls.each do |u| %>

                    <% u.images.each do |i| %>
                        <%= image_tag(i.src_url) %>
                    <% end %>
                  <% if story.author.present? %>
                      by <%= story.author %>&nbsp;&nbsp;
                  <% end %>
                  <%= story.story_month %>/
                  <%= story.story_date %>/
                  <%= story.story_year %><br>

                    <%= u.url_title %><br>

                <% end %><br>
            </div>
        <% end %>
  </div>
</div>