<% if false %>
    <% if user_signed_in? %>
        <% if current_user.admin? %>
            <h3>Admin</h3>
            <p><%= link_to 'User count:', users_path %> <%= User.count %></p>
        <% else %>
            <h3>You've signed up. Download a free book.</h3>
            <%= link_to 'Download PDF', products_path('product.pdf'), :class => 'btn btn-success btn-large' %>
        <% end %>
    <% else %>
        <h3>Sign up and download a free book.</h3>
        <%= link_to 'Sign up', new_user_registration_path, :class => 'btn btn-primary btn-large' %>
    <% end %>
<% end %>

<div class="jumbotron text-center">
  <p class="text-info" style="line-height: 120%; display:inline">Professionally authored and curated<br>
    stories as an alternative to user-contributed content<br>
    to discover great places to eat, drink, stay, and enjoy life</p>
</div>

<div class="container">
  <div class="row">
        <% @stories.each do |story| %>
            <div class="col-lg-4 text-left">

                <% story.urls.each do |u| %>

                  <p style="margin-bottom: 2%"><% u.images.each do |i| %>
                        <%= link_to image_tag(i.src_url, :height =>200), u.url_full, target: '_blank' %>
                        <% end %>
                  </p>
                  <% if story.editor_tagline.present? %><em>
                    <p style="font-family: Arial Narrow; margin-bottom: 2%"><%= story.editor_tagline %></p></em>
                  <% end %>
                  <p style="font-size:1.1em; font-weight: bold; margin-bottom: 2%">
                    <%= u.url_title %><br>
                  </p>
                  <p class="text-muted" style="margin-bottom: 2%">
                    <% if story.author.present? %>
                      by <%= story.author %>&nbsp;&nbsp;
                    <% end %>
                    <% mmyy = story.story_month ? "#{story.story_month}/#{story.story_year}" : nil %>
                    <% mmddyy = story.story_date && mmyy ? "#{story.story_month}/#{story.story_date}/#{story.story_year}" : nil %>
                    <% slash_date = mmddyy ? mmddyy : mmyy %>
                    <%= "#{slash_date}" %><br>
                  </p>
                  <p class="text-primary"><%= u.url_desc.truncate(250) %></p><br>
                <% end %><br>
            </div>
        <% end %>
  </div>
</div>