<head>
  <!-- meta http-equiv="refresh" content="3600">  <!-- refresh every one hour -->
</head>

<div class="form-group" style="margin-top: -20px; margin-left: -20px; -margin-bottom: -50px">
  <div class="panel panel-default">
    <div class="panel-body">

    <div class="container">
      <div class="text-right" style="font-size:1.5em">
        <%= form_tag do %>

          <%= render 'countdown' %>

          <%= select_tag :user_location_code, options_from_collection_for_select(@location_codes,'code_key','code_value', params[:user_location_code]) %>&nbsp;
          <%= select_tag :user_place_category, options_from_collection_for_select(@story_place_types,'code_key','code_value', params[:user_place_category]) %>&nbsp;
          <% if user_signed_in? %>
	          <%= select_tag :user_story_category, options_from_collection_for_select(@story_categories_loggedin,'code_key','code_value', params[:user_story_category]) %>&nbsp;
          <% else %>
            <%= select_tag :user_story_category, options_from_collection_for_select(@story_categories_notloggedin,'code_key','code_value', params[:user_story_category]) %>&nbsp;
		      <% end %>

		      <% unless user_signed_in? %>
	          <span style="font-size: .7em; color: darkgrey" class="glyphicon glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
	          <span style="font-size: .7em; color: darkgrey">Login to access Editor Picks&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			    <% end %>

          <%= submit_tag "Filter Stories", class: 'btn btn-xs btn-success', style: "margin-bottom: 5px; font-size: .8em" %>

        <% end %>

      </div>
      <div class="row row-centered" style="font-family: Source Sans Pro">

        <% @stories.each do |story| %>
            <div class="col-lg-4 col-centered text-left">

                <% story.urls.each do |u| %>

                  <p style="margin-bottom: 2%">
                        <% u.images.each do |i| %>

                            <%= link_to image_tag(i.src_url, :width =>450), u.url_full, target: '_blank' %>

                        <% image_prop = i.image_height.to_f / i.image_width.to_f unless i.image_width.nil? %> <!-- calc image proportions -->
                        <% @desc_trunc = 220 + ((0.7 - (image_prop ||= 0.7)) * 1000) %> <!-- calc the desc length -->
                        <% @desc_trunc = @desc_trunc < 75 ? 75 : @desc_trunc %> <!-- set min desc length to 75px -->

                        <% end %>
                  </p>
                  <% if story.editor_tagline.present? %>
                    <p style="font-family: Arial Narrow; font-size:1.2em; margin-bottom: 2%">
                      <em><%= story.editor_tagline %></em><meta itemprop="comment" content="<%= story.editor_tagline %>">
                    </p>
                  <% end %>
                  <p style="font-color: black;font-size:1.1em; font-weight: bold; display: inline">
                    <%= link_to u.url_title, u.url_full, target: '_blank' %>
                  </p>
                  <p class="text-muted" style="margin-bottom: 2%">
                    <% if story.author.present? %>
                      by <%= story.author %><meta itemprop="author" content="<%= story.author %>">&nbsp;&nbsp;
                    <% end %>
                    <% mmyy = story.story_month ? "#{story.story_month}/#{story.story_year}" : nil %>
                    <% mmddyy = story.story_date && mmyy ? "#{story.story_month}/#{story.story_date}/#{story.story_year}" : nil %>
                    <% slash_date = mmddyy ? mmddyy : mmyy %>
                    <%= "#{slash_date}" %><br>
                  </p>

                  <p><%= u.url_desc.truncate(@desc_trunc, :separator => ' ') %></p>

            <% end %><br>
            </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>

<% if false %>

    <% if false %>
        <% if user_signed_in? %>
            <% if current_user.admin? %>
                <h3>Admin</h3>
                <p><%= link_to 'User count:', users_path %> <%= User.count %></p>
            <% else %>
                <h3>You've signed up. Download a free book.</h3>
                <%= link_to 'Download PDF', products_path('product.pdf'), :class => 'btn btn-success btn-large' %>
            <% end %>
        <% else %>
            <h3>Sign up and download a free book.</h3>
            <%= link_to 'Sign up', new_user_registration_path, :class => 'btn btn-primary btn-large' %>
        <% end %>
    <% end %>


    <% title_line_count = u.url_title.size / 26 %>
    title line count = <%= "#{title_line_count.ceil}" %><br>

    <% desc_line_count = u.url_desc.size / 46 %>
    <% title_desc_line_count = title_line_count + desc_line_count %>
    <% textline_px_adj = title_desc_line_count / 2 * 100 %>
    textline count = <%= "#{title_desc_line_count.ceil}" %>&nbsp;
    textline px adj = <%= "#{textline_px_adj.round}" %><br>
    <% story_px_padding = 200 - ( @image_adj + textline_px_adj ) %>
    <%= "img px adj: #{@image_adj.round} " %>
    <%= "padding px: #{story_px_padding.round} " %><br><br>
    trunc desc at: <%= desc_trunc_char = u.url_desc.size + (( story_px_padding / 100 ) * 92 ) %>
    <p><%= u.url_desc.truncate(desc_trunc_char, :separator => ' ') %></p>
    <%= desc_px_padding = (desc_trunc_char - u.url_desc.size > 0 ? ( desc_trunc_char - u.url_desc.size  ) : 0) %>
    <%= raw("<p style='margin-bottom: #{desc_px_padding.round}px'></p>") %>

<% end %>

