<head>
  <meta http-equiv="refresh" content="3600">  <!-- refresh every one hour -->
</head>

<div class="form-group" style="margin-top: -10px; margin-left: -20px; margin-bottom: -50px; padding-bottom: 20px">
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="container-fluid">
        <div class="text-right">
          <%= form_tag do %>

            <nav class="navbar navbar-default" role="navigation" style="padding-top: 4px; margin-bottom: 10px; min-height: 35px">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>

                <%= render 'visitors/countdown' %>

              </div>
              <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li class="select-dropdown-hdr"><%= select_tag :user_location_code, options_from_collection_for_select(@location_codes,'code_key','code_value', params[:user_location_code]) %>&nbsp;</li>
                  <li  class="select-dropdown-hdr"><%= select_tag :user_place_category, options_from_collection_for_select(@story_place_types,'code_key','code_value', params[:user_place_category]) %>&nbsp;</li>
                  <% if user_signed_in? %>
                    <li  class="select-dropdown-hdr"><%= select_tag :user_story_category, options_from_collection_for_select(@story_categories_loggedin,'code_key','code_value', params[:user_story_category]) %>&nbsp;</li>
                  <% else %>
                    <li  class="select-dropdown-hdr""><%= select_tag :user_story_category, options_from_collection_for_select(@story_categories_notloggedin,'code_key','code_value', params[:user_story_category]) %>&nbsp;</li>
                  <% end %>
                  <% unless user_signed_in? %>
                    <li style="margin-top: 3px; font-size: 14px"><span style="font-size: .8em; color: darkgrey; white-space: nowrap;"><span class="glyphicon glyphicon glyphicon-arrow-left" aria-hidden="true">
	                    </span>&nbsp;Login to access Editor Picks</span>&nbsp;&nbsp;&nbsp;</li>
                  <% end %>
                  <li style="padding-left: 20px; padding-right: 5px; padding-top: 1px"><%= submit_tag "Filter Stories", class: 'btn btn-success btn-lg btn-responsive'%></li>
                </ul>
              </div>
            </nav>

          <% end %>

        </div>
        <div class="row row-centered" style="font-family: Source Sans Pro">

          <% @stories.each do |story| %>
            <div class="col-sm-4 col-centered text-left">
            <!--<div class="col-lg-4 col-centered text-left">-->

              <% story.urls.each do |u| %>

                <p style="margin-bottom: 2%; text-align: left">
                  <% u.images.each do |i| %>

                    <%= link_to image_tag(i.src_url, :width =>1000, :class => "img-responsive"), u.url_full, target: '_blank' %>

                    <% image_prop = i.image_height.to_f / i.image_width.to_f unless i.image_width.nil? %> <!-- calc image proportions -->
                    <% @desc_trunc = 220 + ((0.7 - (image_prop ||= 0.7)) * 1000) %> <!-- calc the desc length -->
                    <% @desc_trunc = @desc_trunc < 75 ? 75 : @desc_trunc %> <!-- set min desc length to 75px -->

                  <% end %>
                </p>
                <% if story.editor_tagline.present? %>
                  <p style="font-family: Arial Narrow; font-size:1.2em; margin-bottom: 2%">
                    <em><%= story.editor_tagline %></em><meta itemprop="comment" content="<%= story.editor_tagline %>">
                  </p>
                <% end %>
                <p style="font-color: black;font-size:1.1em; font-weight: bold; display: inline">
                  <%= link_to u.url_title, u.url_full, target: '_blank' %>
                </p>
                <p class="text-muted" style="margin-bottom: 2%">
                  <% if story.author.present? %>
                    by <%= story.author %><meta itemprop="author" content="<%= story.author %>">&nbsp;&nbsp;
                  <% end %>
                  <% mmyy = story.story_month ? "#{story.story_month}/#{story.story_year}" : nil %>
                  <% mmddyy = story.story_date && mmyy ? "#{story.story_month}/#{story.story_date}/#{story.story_year}" : nil %>
                  <% slash_date = mmddyy ? mmddyy : mmyy %>
                  <%= "#{slash_date}" %><br>
                </p>

                <p><%= u.url_desc.truncate(@desc_trunc, :separator => ' ') %></p>

              <% end %><br>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


