<%= form_for(@url) do |f| %>
  <% if @url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@url.errors.count, "error") %> prohibited this url from being saved:</h2>

      <ul>
      <% @url.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url_full %><br>
    <%= f.text_field :url_full %>
  </div>
  <div class="field">
    <%= f.label :url_type %><br>
    <%= f.text_field :url_type %>
  </div>
  <div class="field">
    <%= f.label :url_title %><br>
    <%= f.text_field :url_title %>
  </div>
  <div class="field">
    <%= f.label :url_desc %><br>
    <%= f.text_field :url_desc %>
  </div>
  <div class="field">
    <%= f.label :url_keywords %><br>
    <%= f.text_field :url_keywords %>
  </div>
    <div class="field">
    <%= f.label :url_title_track %><br>
    <%= f.check_box :url_title_track %>
  </div>
  <div class="field">
    <%= f.label :url_desc_track %><br>
    <%= f.check_box :url_desc_track %>
  </div>
  <div class="field">
    <%= f.label :url_keywords_track %><br>
    <%= f.check_box :url_keywords_track %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>