<%= form_for(@url) do |f| %>
  <% if @url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@url.errors.count, "error") %> prohibited this url from being saved:</h2>

      <ul>
      <% @url.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :url_entered %><br>
    <%= f.datetime_select :url_entered %>
  </div>
  <div class="field">
    <%= f.label :url_type %><br>
    <%= f.text_field :url_type %>
  </div>
  <div class="field">
    <%= f.label :url_title %><br>
    <%= f.text_field :url_title %>
  </div>
  <div class="field">
    <%= f.label :url_desc %><br>
    <%= f.text_field :url_desc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
