<h1>Listing urls</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Url entered</th>
      <th>Url type</th>
      <th>Url title</th>
      <th>Url desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><%= url.url %></td>
        <td><%= url.url_entered %></td>
        <td><%= url.url_type %></td>
        <td><%= url.url_title %></td>
        <td><%= url.url_desc %></td>
        <td><%= link_to 'Show', url %></td>
        <td><%= link_to 'Edit', edit_url_path(url) %></td>
        <td><%= link_to 'Destroy', url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Url', new_url_path %>
