<h1>Listing urls</h1>

<table>
  <thead>
    <tr>
      <th>Url Id</th>
      <th>Url</th>
      <th>Created</th>
      <% if false %>
          <th>Url type</th>
          <th>Url title</th>
          <th>Url desc</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><%= url.id %></td>
        <td><%= url.url_full %></td>
        <td><%= url.created_at %></td>
        <% if false %>
            <td><%= url.url_type %></td>
            <td><%= url.url_title %></td>
            <td><%= url.url_desc %></td>
        <% end %>
        <td><%= link_to 'Show', url %></td>
        <td><%= link_to 'Edit', edit_url_path(url) %></td>
        <td><%= link_to 'Destroy', url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Url', new_url_path %>
