<h1>Urls List</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Url</th>
      <th>Created</th>
      <th>Story Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><%= url.id %>&nbsp;&nbsp;</td>
        <td><%= url.url_full %>&nbsp;&nbsp;</td>
        <td><%= url.created_at %>&nbsp;&nbsp;</td>
        <td><%= url.story_id %>&nbsp;&nbsp;</td>

        <td><%= link_to 'Show', url %>&nbsp;&nbsp;</td>
        <td><%= link_to 'Edit', edit_url_path(url) %>&nbsp;&nbsp;</td>
        <td><%= link_to 'Destroy', url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

