<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @url.url_full %>
</p>

<p>
  <strong>Url type:</strong>
  <%= @url.url_type %>
</p>

<p>
  <strong>Url title:</strong>
  <%= @url.url_title %>
</p>

<p>
  <strong>Url desc:</strong>
  <%= @url.url_desc %>
</p>

<p>
  <strong>Url keywords:</strong>
  <%= @url.url_keywords %>
</p>

<p>
  <strong>Url title track:</strong>
  <%= @url.url_title_track %>
</p>

<p>
  <strong>Url desc track:</strong>
  <%= @url.url_desc_track %>
</p>
<p>

  <strong>Url keyw track:</strong>
  <%= @url.url_keywords_track %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
