<%= form_tag(filter_path, method: :get) do %>
  <div class="row filters">
    <div class="col-12 col-sm-6 col-md-3 mt-1 mt-md-0">
      <%= text_field_tag :title, params[:title], placeholder: 'Search Title...', maxlength: 100, size: 100, class: "form-control form-control-sm search-field" %>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mt-1 mt-md-0">
      <%= text_field_tag :description, params[:description], placeholder: 'Search Description...', maxlength: 100, size: 100, class: "form-control form-control-sm search-field" %>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mt-1 mt-md-0">
      <%=
        select_tag :state,
        options_from_collection_for_select(Story.all_states, 'to_s', 'to_s', params[:state]),
        prompt: 'All States',
        class: 'form-control form-control-sm',
        id: 'state-select'
      %>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mt-1 mt-md-0">
      <%=
        select_tag :order_by,
        options_from_collection_for_select(['created_at ASC', 'created_at DESC'], 'to_s', 'to_s', params[:order_by]),
        prompt: 'Select Sort',
        class: 'form-control form-control-sm',
        id: 'order-by-select'
      %>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mt-1 mt-md-2">
      <%=
        select_tag :location_id,
        options_from_collection_for_select(@locations, 'id', 'name', params[:location_id]),
        prompt: 'All Locations',
        class: 'form-control form-control-sm',
        id: 'location-select'
      %>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mt-1 mt-md-2">
      <%=
        select_tag :place_category_id,
        options_from_collection_for_select(@place_categories, 'id', 'name', params[:place_category_id]),
        prompt: 'All Place Types',
        class: 'form-control form-control-sm',
        id: 'place-select'
      %>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mt-1 mt-md-2">
      <%=
        select_tag :story_category_id,
        options_from_collection_for_select(@story_categories, 'id', 'name', params[:story_category_id]),
        prompt: 'All Story Categories',
        class: 'form-control form-control-sm',
        id: 'category-select'
      %>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mt-1 mt-md-2">
      <%= submit_tag "Filter", class: 'btn btn-sm btn-secondary' %>
    </div>
  </div>
<% end %>
