<div class="container-fluid">
  <%= render partial: 'shared/admin/form_tabs', locals: { story: @video_story }%>

  <%= form_with(model: @video_story, url: route, method: method) do |f| %>
    <div class="jumbotron bg-white story-form">
      <div class="header text-center">
        <h4><i class="fas fa-video mr-1"></i> Enter Video Story Details</h4>
        <% if @video_story.persisted? %>
          <h6>Video Story ID: <%= @video_story.id %></h6>
        <% end %>
      </div>

      <hr class="my-4">

      <% if @video_story.errors.any? %>
        <div id="error_explanation">
          <h5><%= pluralize(@video_story.errors.count, "error") %> prohibited this story from being saved:</h5>
          <ul>
            <% @video_story.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="body">
        <%= f.fields_for :urls do |u| %>
          <div class="form-group row">
            <div class="col-2">
              <%= u.label :url_full, "Video Url:" %>
            </div>
            <div class="col-10">
              <%= u.text_field :url_full, class: "form-control form-control-sm", readonly: true %>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-2">
              <%= u.label :url_title, "Url Title:" %>
            </div>
            <div class="col-10">
              <%= u.text_area :url_title, rows: 1, maxlength: 250, class: "form-control form-control-sm" %>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-2">
              <%= u.label :url_desc, "Url Description:" %>
            </div>
            <div class="col-10">
              <%= u.text_area :url_desc, rows: 3, maxlength: 1000, class: "form-control form-control-sm" %>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-2">
              <%= u.label :url_keywords, "Url Keywords:" %>
            </div>
            <div class="col-10">
              <%= u.text_area :url_keywords, rows: 1, maxlength: 1000, class: "form-control" %>
            </div>
          </div>
        <% end %>

        <hr class="my-4">

        <div class="form-group row">
          <div class="col-2">
            <%= f.label "Story Date: Y/M/D" %>
          </div>
          <div class="form-group row col-5">
            <div class="col">
              <%= f.number_field :story_year, placeholder: 'yyyy', in: 2000...2030, class: 'form-control' %>
            </div>
            <div class="col">
              <%= f.number_field :story_month, placeholder: 'mm', in: 1...13, class: 'form-control' %>
            </div>
            <div class="col">
              <%= f.number_field :story_date, placeholder: 'dd', in: 1...32, class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-2">
            <%= f.label :story_region_ids, "Story Regions:" %>
          </div>
          <div class="row col-10">
            <div class="col-8">
              <%= f.select :story_region_ids, options_from_collection_for_select(@story_regions, 'id', 'name', @video_story.story_regions.pluck(:id)), {}, { multiple: true, id: 'story_story_region_ids' } %>
            </div>
            <div class="col-1">
              <%= f.check_box :outside_usa, class: '' %>
            </div>
            <div class="col-3">
              <%= f.label :outside_usa, "Outside USA?" %>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-2">
            <%= f.label :place_category_ids, "Place Categories:" %>
          </div>
          <div class="col-10">
            <%= f.select :place_category_ids, options_from_collection_for_select(@place_categories, 'id', 'name', @video_story.place_categories.ids), {}, { multiple: true, id: 'story_place_category_ids' } %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-2">
            <%= f.label :story_category_ids, "Story Categories:" %>
          </div>
          <div class="col-10">
            <%= f.select :story_category_ids, options_from_collection_for_select(@story_categories, 'id', 'name', @video_story.story_categories.ids), {}, { multiple: true, id: 'story_story_category_ids' } %>
          </div>
        </div>

        <hr class="my-4">

        <div class="form-group row">
          <div class="col-2">
            <%= f.label :hashtags, "Hashtags:" %>
          </div>
          <div class="col-10">
            <%= f.text_field :hashtags, size: 50, placeholder: '#food #dancing #shopping', class: 'form-control' %>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="form-group row">
              <div class="col-3">
                <%= f.label :video_creator, "Video Creator:", style: 'font-size: 11px' %>
              </div>
              <div class="col-9">
                <%= f.text_field :video_creator, size: 50, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-3">
                <%= f.label :video_channel_id, "Channel ID:", style: 'font-size: 11px' %>
              </div>
              <div class="col-9">
                <%= f.text_field :video_channel_id, size: 50, class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group row">
              <div class="col-3">
                <%= f.label :video_views, "Video Views:", style: 'font-size: 11px' %>
              </div>
              <div class="col-9">
                <%= f.number_field :video_views, placeholder: 'Views', in: 0...9999999999, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-3">
                <%= f.label "Duration (H:M:S)", style: 'font-size: 11px' %>
              </div>
              <div class="form-group col-9 row">
                <div class="col-4">
                  <%= f.number_field :hours, value: @hours, placeholder: 'H', in: 0...10000, class: '' %>
                </div>
                <div class="col-4">
                  <%= f.number_field :minutes, value: @minutes, placeholder: 'M', in: 0...10000, class: ' ' %>
                </div>
                <div class="col-4">
                  <%= f.number_field :seconds, value: @seconds, placeholder: 'S', in: 0...10000, class: '' %>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-3">
                <%= f.label :video_subscribers, "Subscribers:", style: 'font-size: 11px' %>
              </div>
              <div class="col-9">
                <%= f.number_field :video_subscribers, placeholder: 'Subscribers', in: 0...9999999999, class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="col-2">
            <div class="form-group row">
              <div class="col-4">
                <%= f.label :video_likes, "Likes:", style: 'font-size: 11px' %>
              </div>
              <div class="col-8">
                <%= f.number_field :video_likes, placeholder: 'Likes', in: 0...9999999999, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-4">
                <%= f.label :video_dislikes, "Dislikes:", style: 'font-size: 11px' %>
              </div>
              <div class="col-8">
                <%= f.number_field :video_dislikes, placeholder: 'Dislikes', in: 0...9999999999, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-4">
                <%= f.label :video_unlisted, "Unlisted?", style: 'font-size: 11px' %>
              </div>
              <div class="col-4">
                <%= f.check_box :video_unlisted, class: '' %>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-2">
            <%= f.label :video_hashtags, "Video Hashtags:" %>
          </div>
          <div class="col-10">
            <%= f.text_field :video_hashtags, size: 50, placeholder: '#food #dancing #shopping', class: 'form-control' %>
          </div>
        </div>

        <hr class="my-4">
        <%= f.hidden_field :data_entry_begin_time, value: @data_entry_begin_time if @data_entry_begin_time.present? %>
        <%= f.hidden_field :data_entry_user, value: current_user.id %>


        <%= render partial: 'shared/admin/save_buttons', locals: { f: f }%>

        <hr class="my-4">

        <%= get_video_iframe(@video_story.urls.first.url_full, "100%", '500px') %>
      </div>
    </div>
  <% end %>
</div>
