<div class="container-fluid d-flex justify-content-center align-items-center">
  <%= form_with(model: @video_story, url: route, method: method) do |f| %>
    <div class="jumbotron bg-white story-form">
      <div class="header text-center">
        <h4><i class="fas fa-video mr-1"></i> Enter Video Story Details</h4>
      </div>

      <hr class="my-4">

      <% if @video_story.errors.any? %>
        <div id="error_explanation">
          <h5><%= pluralize(@video_story.errors.count, "error") %> prohibited this story from being saved:</h5>
          <ul>
            <% @video_story.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="body">
        <p class="lead text-center">URL Data</p>
        <hr class="my-4">

        <div class="form-group my-4 max-vw-80 mx-auto">
          <%= f.label :video_url, "Video Url:" %>
          <%= f.text_field :video_url, size: 50, class: 'form-control', readonly: true %>
        </div>

        <div class="form-group my-4 max-vw-80 mx-auto">
          <%= f.label :title, "Story Title:" %>
          <%= f.text_field :title, value: @title, size: 50, class: 'form-control' %>
        </div>

        <div class="form-group my-4 max-vw-80 mx-auto">
          <%= f.label :description, "Story description:" %>
          <%= f.text_field :description, value: @meta_desc, size: 50, class: 'form-control' %>
        </div>

        <div class="form-group my-4 max-vw-80 mx-auto">
          <%= f.label :url_keywords, "Url Keywords:" %>
          <%= f.text_field :url_keywords, value: @meta_keywords, size: 50, class: 'form-control' %>
        </div>

        <div class="form-group my-4 max-vw-80 mx-auto">
          <%= f.label :editor_tagline, "Editor Tagline:" %>
          <%= f.text_field :editor_tagline, size: 50, class: 'form-control' %>
        </div>

        <div class="form-group my-4 max-vw-80 mx-auto">
          <%= f.label :location_ids, "Locations:" %>
          <%= f.select :location_ids, options_from_collection_for_select(@locations, 'id', 'name', @selected_location_ids), {}, { multiple: true, id: 'story_location_ids' } %>
        </div>

        <div class="form-group my-4 max-vw-80 mx-auto">
          <%= f.label :place_category_ids, "Place Categories:" %>
          <%= f.select :place_category_ids, options_from_collection_for_select(@place_categories, 'id', 'name', @selected_place_category_ids), {}, { multiple: true, id: 'story_place_category_ids' } %>
        </div>

        <div class="form-group my-4 max-vw-80 mx-auto">
          <%= f.label :story_category_ids, "Story Categories:" %>
          <%= f.select :story_category_ids, options_from_collection_for_select(@story_categories, 'id', 'name', @selected_story_category_ids), {}, { multiple: true, id: 'story_story_category_ids' } %>
        </div>

        <div class="form-group my-4 max-vw-80 mx-auto">
          <%= f.label :hashtags, "Hashtags" %>
          <%= f.text_field :hashtags, size: 50, class: 'form-control' %>
        </div>

        <div class="form-group my-4 max-vw-80 mx-auto">
          <%= f.label :video_creator, "Video Creator" %>
          <%= f.text_field :video_creator, size: 50, class: 'form-control' %>
        </div>

        <div class="form-group my-4 max-vw-80 mx-auto">
          <%= f.label :story_month, "Story Month:" %>
          <%= f.number_field :story_month, value: @month, placeholder: 'mm', in: 1...13, class: 'form-control' %>
        </div>

        <div class="form-group my-4 max-vw-80 mx-auto">
          <%= f.label :story_date, "Story Date:" %>
          <%= f.number_field :story_date, value: @day, placeholder: 'dd', in: 1...32, class: 'form-control' %>
        </div>

        <div class="form-group my-4 max-vw-80 mx-auto">
          <%= f.label :story_year, "Story Year:" %>
          <%= f.number_field :story_year, value: @year, placeholder: 'yyyy', in: 2000...2030, class: 'form-control' %>
        </div>

        <div class="form-group my-4 max-vw-80 mx-auto">
          <%= f.label :channel_id, "Channel ID" %>
          <%= f.text_field :channel_id, size: 50, class: 'form-control' %>
        </div>

        <div class="form-group my-4 max-vw-80 mx-auto">
          <%= f.label :video_hashtags, "Video Hashtags" %>
          <%= f.text_field :video_hashtags, size: 50, class: 'form-control' %>
        </div>

        <div class="form-group my-4 max-vw-80 mx-auto">
          <%= f.label :duration, "Duration" %>
          <%= f.number_field :duration, value: @month, placeholder: 'Seconds', in: 1...10000, class: 'form-control' %>
        </div>

        <div class="form-group my-4 max-vw-80 mx-auto">
          <%= f.label :outside_usa, "Outside USA?" %>
          <%= f.check_box :outside_usa, value: @outside_usa, class: '' %>
        </div>

         <div class="form-group my-4 max-vw-80 mx-auto">
          <%= f.label :state, "Story Type:" %>
          <%= f.select :state, Story.all_states, class: 'form-control' %>
        </div>

        <hr class="my-4">

        <% if params[:action] != 'new' %>
          <p class="lead text-center">
            <%= @video_story_complete ? "Story Complete" : "Incomplete Story – Missing Fields In Yellow" %>
          </p>
        <% end %>

        <% if params[:action] != 'new' %>
          <%= f.submit "Save", class: 'btn btn-md btn-primary text-center w-100' %>
        <% else %>
          <%= f.submit "Next", class: 'btn btn-md btn-primary text-center w-100' %>
        <% end %>

        <%= get_video_iframe(@video_story.video_url, "100%", '500px') %>
      </div>
    </div>
  <% end %>
</div>
