<div class="container-fluid">
  <div class="jumbotron bg-white admin-stories admin-index-page">
    <div class="header text-center">
      <h4><i class="fas fa-video mr-1"></i> All Video Stories</h4>
    </div>

    <hr class="my-4">

    <%= render partial: 'filters', locals: { filter_path: admin_video_stories_path } %>

    <hr class="my-4">

    <div class="table-div">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">State</th>
            <th scope="col">Created At</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @video_stories.each do |story| %>
            <tr>
              <td><%= story&.title&.titleize || '-' %></td>
              <td><%= story&.description&.titleize || '-' %></td>
              <td><%= story&.state&.titleize || '-' %></td>
              <td><%= story.created_at.strftime("%m/%d/%Y") %></td>
              <td style="width: 200px;">
                <%= link_to '', class: "btn btn-sm btn-outline-primary", target: '_blank' do %>
                  <i class="fas fa-search"></i>
                <% end %>
                <%= link_to review_admin_video_story_path(story), class: "btn btn-sm btn-outline-success" do %>
                  <i class="fas fa-eye"></i>
                <% end %>
                <%= link_to edit_admin_video_story_path(story), class: "btn btn-sm btn-outline-warning" do %>
                  <i class="fas fa-edit"></i>
                <% end %>
                <%= link_to admin_video_story_path(story), method: :delete, class: "btn btn-sm btn-outline-danger delete-link", data: { confirm: 'Are you sure?' } do %>
                  <i class="fas fa-times"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <hr class="my-4">

    <div class='pagination'>
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>
</div>
