<div class="form-group" style="margin-top: -10px; margin-left: -20px; margin-bottom: -50px; padding-bottom: 20px">
  <div class="panel panel-default">
    <div class="panel-body landing-panel-sap">

      <div class="container-fluid">
        <div class="text-right" style="padding-top: 4px">
          <%= form_tag do %>
            <nav class="navbar navbar-default nav-sap-select" role="navigation" >
              <div class="navbar-header">
                <button type="button" class="navbar-toggle nav-sap-toggle" data-toggle="collapse"
                        data-target="#sap-navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>

                <!-- <span class="timer-display"> <%#= render 'visitors/countdown' %> </span> -->

              </div>
<!--               <div class="collapse navbar-collapse" id="sap-navbar-collapse" style="margin-right: 15px">
                <ul class="nav navbar-nav navbar-right">
                  <li class="select-dropdown-hdr">
                    <%#= select_tag :location_id,
                          options_from_collection_for_select(@location_codes,'id','name', params[:location_id]),
                          prompt: 'All Locations'
                    %>&nbsp;
                    </li> -->
<!--                   <li  class="select-dropdown-hdr">
                    <%#= select_tag :place_category_id,
                          options_from_collection_for_select(@story_place_types,'id','name', params[:place_category_id]),
                          prompt: 'All Place Types'
                     %>&nbsp;
                  </li>
                    <li class="select-dropdown-hdr">
                      <%#= select_tag :story_category_id,
                            options_from_collection_for_select(@story_categories,'id','name', params[:story_category_id]),
                            prompt: 'All Story Categories'
                      %>&nbsp;
                    </li>
                  <li><%#= submit_tag "Filter Stories", class: 'btn btn-success btn-lg btn-responsive'%></li>
                </ul> -->
  <!--             </div>
            </nav>

          <%# end %> -->

        </div>
        <div class="row row-centered" style="font-family: Source Sans Pro">

<!-- Individual Story -->
          <%# @stories.each do |story| %>
            <div class="col-sm-4 col-centered text-left story_div" style="margin-right: -15px">

            <%# story.urls.each do |u| %>
              <p style="margin-bottom: 0%; text-align: left"></p>
              <%# @story.images.each do |i| %>

<!-- Check if user is ADMIN to link to story-pages at this time  -->
  <!--               <%# if user_signed_in? && current_user.admin? %>
                  <%#= link_to image_tag(i.src_url, :width =>1000, :class => "img-responsive"), story_pages_path(story.permalink), target: '_blank' %>
        -->        <%# else %>
<!--                   <%# if valid_url?(@images.first.src_url) %>
                    <%#= link_to image_tag(@images.first.src_url, :width =>1000, :class => "img-responsive"), outbound_click_path(url: @images.first.url_full), target: '_blank' %>
                  <%# end %> -->

<!-- ADD in SAVED story BUTTON -->

                   <% if user_signed_in? %>
                    <% if story_saved?(@story.id,current_user.id) %>
                      <p class="story-actions-links story-actions" id="forget_story">
                          <%#= button_to "You Saved This Story", "javascript:void(0)", class: 'forget_story_link', 'data-story-id' => @story.permalink %>
                          <%= link_to "You Saved This Story", @story.permalink, class: "btn btn-small btn-primary btn-responsive"%>
                      </p>
                    <% else %>
                    <p></p>
                      <p class="story-actions-links story-actions" id="save_story"></p>
                        <%#= button_to "SAVE THIS STORY", "javascript:void(0)", class: 'save_story_link', 'data-story-id' => @story.permalink %>
                    <p style="margin-bottom: 0%; text-align: center">
                    <%= link_to "SAVE THIS STORY", @story.permalink, class: "btn btn-small btn-primary btn-responsive"%></p>
                      </p>
                    <% end %>
                  <% else %>
                    <p class="story-actions-links story-actions" id="save_story"></p>
                      <p style="margin-bottom: 0%; text-align: center">
                      <%= link_to "SAVE THIS STORY", "javascript:void(0)", class: 'cannot_save_story_link' %>
                    </p>
                  <% end %>
<!-- FINISH add of Saved story button -->


                 <% if valid_url?(@images.first.src_url) %>
                    <%= link_to image_tag(@images.first.src_url, :width =>1000, :class => "img-responsive") %>
                  <% end %>
                <%# end %>

                  <%# image_prop = i.image_height.to_f / i.image_width.to_f unless i.image_width.nil? %>
                  <% image_prop = @images.first.image_height.to_f / @images.first.image_width.to_f unless @images.first.image_width.nil? %>

                  <!-- calc image proportions -->
                  <% @desc_trunc = 270 + ((0.7 - (image_prop ||= 0.7)) * 1000) %> <!-- calc the desc length; base px was 220 -->
                  <% @desc_trunc = @desc_trunc < 75 ? 75 : @desc_trunc %> <!-- set min desc length to 75px -->
                <%# end %>
                </p>
                <div class="story-text-block">
                <% if @story.editor_tagline.present? %>
                   <p style="font-family: Arial Narrow; font-size:1.2em; margin-bottom: 2%">
                   <em><%= @story.editor_tagline %></em><meta itemprop="comment" content="<%= @story.editor_tagline %>">
                   </p>
                <% end %>
                  <p style="font-color: black;font-size:1.1em; font-weight: bold; display: inline">
                   <%= link_to @urls.first.url_title, outbound_click_path(url: @urls.first.encoded_url), target: '_blank' %>
                  </p>
                  <br>
                  <!-- <p style="font-color: white, margin-bottom: 2%"></p> -->

<!-- ADD in button "read this story at Publisher" -->
    <!-- <div class="col-sm-8 col-sm-pull-4" style="background-color:orange; border:thin solid;"> -->
    <!--   <%#= button_to "Read this story at Publisher", class: "btn btn-success", @urls.first.url_full %> -->

                <p style="margin-bottom: 0%; text-align: center">
                <%= link_to "Read This Story at Publisher", @urls.first.url_full, class: "btn btn-small btn-primary btn-responsive "%></p>
                <p></p>

      <!-- <a href="<%= @urls.first.url_full %>" target="_blank"> To read the full story click here...</a></div> -->
<!-- END button to read story at publisher -->
                  <p> Location:  <%= @story.locations.map { |location| location.name }.to_sentence %></p>
                    <p>
                    <% if @urls.first.mediaowner.present? %>
                      <% unless @urls.first.mediaowner.title.nil? %>
                       Publisher:
                       <%= @urls.first.mediaowner.title %> &nbsp;&nbsp;
                      <% end %>
                    <% end %>
                        Story Date:
                    <% mmyy = @story.story_month ? "#{@story.story_month}/#{@story.story_year}" : nil %>
                    <% mmddyy = @story.story_date && mmyy ? "#{@story.story_month}/#{@story.story_date}/#{@story.story_year}" : nil %>
                    <% slash_date = mmddyy ? mmddyy : mmyy %>
                    <%= "#{slash_date}" %><br>
                  </p>
                  <p>Author: <%= @story.author %></p>

                  <!-- <p><%#= @urls.first.url_desc.truncate(@desc_trunc, :separator => ' ') %></p> -->

                  <p><%= @urls.first.url_desc %></p>

                  <p> Place Category:  <%= @story.place_categories.map { |place_category| place_category.name }.to_sentence %></p>
                  <p> Story Category:  <%= @story.story_categories.map { |story_category| story_category.name }.to_sentence %></p>

                </div>

              <%# end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>