<!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> -->
<!-- <meta name="description" content='<%#= "#{@story.editor_tagline}" %>'/> -->
<!-- Meta twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content='<%= "#{@urls.first.url_title}" %>'/>
<meta name="twitter:image" content='<%= "#{@images.first.src_url}" %>'/>
<meta name="twitter:description" content='<%= "#{@story.editor_tagline}" %>'/>
<meta name="twitter:site" content="@stories_places"/>
<meta name="twitter:creator" content="@stories_places"/>

<div class="form-group" style="margin-top: -10px; margin-left: -20px; margin-bottom: -50px; padding-bottom: 20px">
  <div class="panel panel-default">
    <div class="panel-body landing-panel-sap">

      <div class="container-fluid">
        <div class="text-right" style="padding-top: 4px">
          <%= form_tag do %>
            <nav class="navbar navbar-default nav-sap-select" role="navigation" >
              <div class="navbar-header">
                <button type="button" class="navbar-toggle nav-sap-toggle" data-toggle="collapse"
                        data-target="#sap-navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>

              </div>

        </div>
        <div class="row row-centered" style="font-family: Source Sans Pro">

<!-- Individual Story -->
          <%# @stories.each do |story| %>
            <div class="col-sm-4 col-centered text-left story_div" style="margin-right: -15px">

            <%# story.urls.each do |u| %>
              <p style="margin-bottom: 0%; text-align: left; padding-bottom: 5px"></p>
              <%# @story.images.each do |i| %>

<!-- Check if user is ADMIN to link to story-pages at this time  -->
  <!--               <%# if user_signed_in? && current_user.admin? %>
                  <%#= link_to image_tag(i.src_url, :width =>1000, :class => "img-responsive"), story_pages_path(story.permalink), target: '_blank' %>
        -->        <%# else %>
<!--                   <%# if valid_url?(@images.first.src_url) %>
                    <%#= link_to image_tag(@images.first.src_url, :width =>1000, :class => "img-responsive"), outbound_click_path(url: @images.first.url_full), target: '_blank' %>
                  <%# end %> -->

<!-- ADD in SAVED story BUTTON -->

                   <% if user_signed_in? %>
                    <% if story_saved?(@story.id,current_user.id) %>
                      <p class="story-actions-links story-actions" id="forget_story">
                          <%#= button_to "You Saved This Story", "javascript:void(0)", class: 'forget_story_link', 'data-story-id' => @story.permalink %>
                          <%= link_to "You Saved This Story", @story.permalink, class: "btn btn-small btn-primary btn-responsive"%>
                      </p>
                    <% else %>
                    <p></p>
                      <p class="story-actions-links story-actions" id="save_story"></p>
                        <%#= button_to "SAVE THIS STORY", "javascript:void(0)", class: 'save_story_link', 'data-story-id' => @story.permalink %>
                    <p style="margin-bottom: 0%; text-align: center; padding-bottom: 5px">
                    <%= link_to "SAVE THIS STORY", @story.permalink, class: "btn btn-small btn-primary btn-responsive"%></p>
                      </p>
                    <% end %>
                  <% else %>
                    <p class="story-actions-links story-actions" id="save_story"></p>
                      <p style="margin-bottom: 0%; text-align: center; padding-bottom: 5px">
                      <%= link_to "SAVE THIS STORY", "javascript:void(0)", class: 'cannot_save_story_link btn btn-small btn-primary btn-responsive' %>
                    </p>
                  <% end %>
<!-- FINISH add of Saved story button -->

                 <% if valid_url?(@images.first.src_url) %>
                    <%= link_to image_tag(@images.first.src_url, :width =>1000, :class => "img-responsive") %>
                  <% end %>
                <%# end %>

                  <%# image_prop = i.image_height.to_f / i.image_width.to_f unless i.image_width.nil? %>
                  <% image_prop = @images.first.image_height.to_f / @images.first.image_width.to_f unless @images.first.image_width.nil? %>

                  <!-- calc image proportions -->
                  <% @desc_trunc = 270 + ((0.7 - (image_prop ||= 0.7)) * 1000) %> <!-- calc the desc length; base px was 220 -->
                  <% @desc_trunc = @desc_trunc < 75 ? 75 : @desc_trunc %> <!-- set min desc length to 75px -->
                <%# end %>
                </p>
                <div class="story-text-block">
                <% if @story.editor_tagline.present? %>
                   <p style="font-family: Arial Narrow; font-size:1.2em; margin-bottom: 2%">
                   <em><%= @story.editor_tagline %></em><meta itemprop="comment" content="<%= @story.editor_tagline %>">
                   </p>
                <% end %>
                  <p style="font-color: black;font-size:1.1em; font-weight: bold; display: inline">
                   <%= link_to @urls.first.url_title, outbound_click_path(url: @urls.first.encoded_url), target: '_blank' %>
                  </p>
                  <br>

                <p style="margin-bottom: 0%; text-align: center; padding-bottom: 5px">
                <%= link_to "Read This Story at Publisher", @urls.first.url_full, class: "btn btn-small btn-primary btn-responsive "%></p>
                <p></p>

                  <p> Location:  <%= @story.locations.map { |location| location.name }.to_sentence %></p>
                  <p>
                      Story Date:
                    <% mmyy = @story.story_month ? "#{@story.story_month}/#{@story.story_year}" : nil %>
                    <% mmddyy = @story.story_date && mmyy ? "#{@story.story_month}/#{@story.story_date}/#{@story.story_year}" : nil %>
                    <% slash_date = mmddyy ? mmddyy : mmyy %>
                    <%= "#{slash_date}" %>
                  </p>
                  <p>
                    <% if @urls.first.mediaowner.present? %>
                      <% unless @urls.first.mediaowner.title.nil? %>
                       Publisher:
                       <%= @urls.first.mediaowner.title %> &nbsp;&nbsp;
                      <% end %>
                    <% end %>
                  </p>
                  <p>Author: <%= @story.author %></p>

                  <p><%= @urls.first.url_desc %></p>

                  <p> Place Category:  <%= @story.place_categories.map { |place_category| place_category.name }.to_sentence %></p>
                  <p> Story Category:  <%= @story.story_categories.map { |story_category| story_category.name }.to_sentence %>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</p>
<section>
<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet"
  data-text="Here’s a great story I found on Stories About Places (@Stories_Places) "
  data-size="large"
  data-url="" >
  Tweet
</a>
<span class="fb-share-button" data-href="http://www.storiesaboutplaces.com/story_pages/caf2/slab-bar-b-que-serves-some-of-chicago-s-best-barbecue-in-south-shore" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.storiesaboutplaces.com%2Fstory_pages%2Fcaf2%2Fslab-bar-b-que-serves-some-of-chicago-s-best-barbecue-in-south-shore&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></span>
</section>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>