<div class="story-show card">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="header text-center">
          <%= link_to root_path do %>
            <%= image_pack_tag "sap-logo.png", id: "logo", class: "m-auto" %>
          <% end %>
        </div>
      </div>
      <div class="col-12 col-md-5 img-div">
        <%= link_to image_tag(@story.latest_image.src_url, class: "grid-image"), story_pages_path(@story.permalink), target: '_blank' %>

        <div class="action-links">
          <%# <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          <div class="col-6">
            <a class="twitter-share-button"
              href="https://twitter.com/intent/tweet"
              data-text="Here’s a great story I found on Stories About Places (@Stories_Places) "
              data-size="large"
              data-url="" >
              Tweet
            </a>
          </div>
          <div class="col-6">
            <span class="fb-share-button" data-href="#{@full_storypage_url}" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=#{@full_storypage_url}" class="fb-xfbml-parse-ignore">Share</a></span>
          </div> %>
        </div>
      </div>
      <div class="col-12 col-md-7">
        <div class="card-body">
          <h5 class="text-center story-title"><%= link_to @story.latest_url&.url_title, @story.latest_url&.encoded_url, target: '_blank', class: 'text-dark' %></h5>
          <% if @story.editor_tagline %>
            <h6 class="card-title text-center font-italic font-bold"><%= @story.editor_tagline %></h6>
          <% end %>

          <p class="text-center text-muted media-owner-date-line">
            <%= @story.media_owner_and_date_line %>
          </p>

          <p class="url-desc">
            <%= @story.latest_url.url_desc %>
          </p>

          <hr>

          <dl class="row">
            <dt class="col-6 col-lg-3">Publisher:</dt>
            <dd class="col-6 col-lg-9"><%= @story.display_publisher %></dd>

            <dt class="col-6 col-lg-3">Author:</dt>
            <dd class="col-6 col-lg-9"><%= @story.author %></dd>

            <dt class="col-6 col-lg-3">Story Date:</dt>
            <dd class="col-6 col-lg-9"><%= @story.story_display_date %></dd>

            <dt class="col-6 col-lg-3"><%= 'Location'.pluralize(@story.locations.size) %>:</dt>
            <dd class="col-6 col-lg-9"><%= @story.display_location %></dd>

            <dt class="col-6 col-lg-3">Place <%= 'Category'.pluralize(@story.place_categories.size) %>:</dt>
            <dd class="col-6 col-lg-9"><%= @story.display_place_categories %></dd>

            <dt class="col-6 col-lg-3">Story <%= 'Category'.pluralize(@story.place_categories.size) %>:</dt>
            <dd class="col-6 col-lg-9"><%= @story.display_story_categories %></dd>
          </dl>

          <hr>

          <div class="row">
            <div class="col-4 m-auto">
              <p>
                <%= link_to "Read at Publisher", @story.latest_url&.url_full, class: "btn btn-sm btn-info"%></p>
              </p>
            </div>

            <% if current_user && story_saved?(@story.id, current_user.id) %>
              <div class="col-4 m-auto">
                <p class="story-actions-links story-actions" id="forget_story">
                  <%= link_to "Forget This Story", "javascript:void(0)", class: 'btn btn-sm btn-outline-secondary forget_story_link', data: { 'story-id': @story.id } %>
                </p>
              </div>
              <div class="col-4 m-auto">
                <p class="story-actions-links story-actions" id="save_story">
                  <%= link_to "Save This Story", "javascript:void(0)", class: 'btn btn-sm btn-primary save_story_link', data: { 'story-id': @story.id } %>
                </p>
              </div>
            <% elsif current_user %>
              <div class="col-4 m-auto">
                <p class="story-actions-links story-actions" id="save_story">
                  <%= link_to "Save This Story", "javascript:void(0)", class: 'btn btn-sm btn-primary save_story_link', data: { 'story-id': @story.id } %>
                </p>
              </div>
            <% else %>
              <div class="col-4 m-auto">
                <p class="story-actions-links story-actions" id="save_story">
                  <%= link_to "Save This Story", "javascript:void(0)", class: 'btn btn-sm btn-primary cannot_save_story_link' %>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
