<div class="container-fluid">
  <%= render partial: 'shared/admin/form_tabs', locals: { story: @story }%>
  <%= form_with(model: @story, url: route, method: method) do |f| %>
    <div class="jumbotron bg-white story-form">
      <div class="header text-center">
        <h4><i class="fas fa-video mr-1"></i> Places</h4>
        <% if @story.persisted? %>
          <h6>Video Story ID: <%= @story.id %></h6>
        <% end %>
      </div>

      <hr class="my-4">

      <% if @story.errors.any? %>
        <div id="error_explanation">
          <h5><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h5>
          <ul>
            <% @story.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="body">

        <div class="form-group row">
          <div class="col-2">
            <%= f.label :place_category_ids, "Place Categories:" %>
          </div>
          <div class="col-10 w-100">
            <%= f.select :place_category_ids, options_from_collection_for_select(@place_categories, 'id', 'name', @story.place_categories.ids), {}, { multiple: true, id: 'story_place_category_ids' } %>
          </div>
        </div>

        <hr class="my-4">

        <% if params[:action] != 'new' %>
          <%= f.submit "Save", class: 'btn btn-md btn-primary text-center w-100' %>
        <% else %>
          <%= f.submit "Next", class: 'btn btn-md btn-primary text-center w-100' %>
        <% end %>


      </div>
    </div>
  <% end %>
</div>
