<div class="container-fluid">
  <%= render partial: 'shared/admin/form_tabs', locals: { story: @story }%>
  <%= render partial: 'shared/story_id_header', locals: { story: @story, icon: story_icon(@story), title: 'Places' }%>

  <hr class="mt-4 mb-2">

  <div class="grid story-grid">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>

    <%= render partial: 'shared/video_and_media_story_card', locals: { story: @story, card_id: nil, scope: 'admin' } %>

    <div class="grid-item grid-card card">
      <div class="card-body">
          <div class="header text-center">
            <h5>Places</h5>
          </div>

          <hr class="my-2">

          <div class="body">
            <%= form_with(model: @story, url: places_update_admin_story_path(@story)) do |f| %>
              <div class="form-group row">
                  <%= f.label :place_ids, "Search for a place:" %>
                  <%= f.select :place_ids, options_from_collection_for_select(@places, 'id', 'name', @story.places.ids), {}, { multiple: true, id: 'story_place_ids' } %>
              </div>
        
              <div class="form-group row mt-4 d-flex justify-content-between">
                <div>
                  <%= submit_tag "Save Places", class: "btn btn-sm btn-primary" %>
                </div>
                <div>
                  <%= link_to "+ New Place", new_admin_place_path(story: @story.id), class: "btn btn-sm btn-success mr-4" %>
                </div>
              </div>
            <% end %>
          </div>

    
      </div>
    </div>

  </div>
</div>