<% path = scope == 'admin' ? admin_story_path(story) : view_stories_path(permalink: story.permalink) %>

<div class="grid-item grid-card card" id="grid-card-<%= card_id %>">
  <% if story.latest_image %>
    <div class="image-container">
      <%= link_to image_pack_tag('default-image.jpeg', onload: "const mainContentWidth = document.getElementById('main-content').offsetWidth; const divWidth = document.getElementById('grid-card-#{card_id}').offsetWidth; const ratio = (divWidth / #{story.image_width.to_f}); const newHeight = (ratio * #{story.image_height.to_f}); this.style.height=newHeight+'px';", class: "grid-image"), path, target: '_blank', id: "default-image-#{card_id}" %>
      <%= link_to image_tag(story.latest_image.src_url, onload: "this.style.display='inline'; document.getElementById('default-image-#{card_id}').style.display='none';", class: "grid-image", style: 'display: none;'), path, target: '_blank' %>
        <!-- render play icon overlay -->
        <%= show_play_button(story) %>
      </div>
  <% else %>
    <%= link_to image_pack_tag('default-image.jpeg', class: "grid-image"), path, target: '_blank' %>
  <% end %>
  <div class="card-body">
    <div class="tagline-div-<%= story.id %>">
      <% if current_user && story.users.include?(current_user) %>
        <% if show_old_code %>
          <p class="story-saved-text saved-text-<%= story.id %> text-center">
            <i class="fas fa-check-square mr-1"></i> Story Saved
          </p>
          <hr class="saved-text-hr-<%= story.id %>">
        <% end %>
      <% end %>
      <% if story.editor_tagline %>
        <h6 class="card-title text-center font-italic font-bold"><%= story.editor_tagline %></h6>
      <% end %>
    </div>

    <hr>

    <h5 class="text-center story-title"><%= link_to story.display_title, story.latest_url&.encoded_url, target: '_blank', class: 'text-dark' %></h5>

    <p class="text-center text-muted media-owner-date-line">
      <%= story.media_owner_and_date_line %>
    </p>

    <p class="url-desc">
      <%= truncate(story.latest_url&.url_desc, length: story.desc_length + 5, omission: '...  ' ) { link_to "Read more", path, target: '_blank', class: 'read-more-link' } %>
    </p>

    <hr>

    <div class="row">
      <div class="col-12 text-center links-div" id=<%= story.id %>>
        <% if current_user && story.users.include?(current_user) %>
          <p class="forget-story-link forget-story-link-<%= story.id %>" id=<%= story.id %>>
            <%= link_to "javascript:void(0)", id: story.id, class: "btn btn-sm btn-outline-dark grid-item-forget-story-#{story.id}" do %>
              <i class="fas fa-times mr-1"></i> Forget Story
            <% end %>
          </p>
        <% elsif current_user %>
          <p class="save-story-link save-story-link-<%= story.id %>" id=<%= story.id %>>
            <%= link_to "javascript:void(0)", id: story.id, class: "btn btn-sm btn-primary grid-item-save-story-#{story.id}" do %>
              <i class="fas fa-bookmark mr-1"></i> Save Story
            <% end %>
          </p>
        <% else %>
          <p class="login-to-save-story-link login-to-save-story-link-<%= story.id %>" id=<%= story.id %>>
            <%= link_to "javascript:void(0)", id: story.id, class: "btn btn-sm btn-primary grid-item-login-to-save-story-#{story.id}" do %>
              <i class="fas fa-bookmark mr-1"></i> Save Story
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
