<%= form_tag(filter_path, method: :post) do %>
  <div class="row filters">
    <div class="col-12 col-sm-6 col-md-3 mb-1 mb-md-2">
      <%=
        select_tag :story_region_id,
        options_from_collection_for_select(@story_regions, 'id', 'name', params[:story_region_id]),
        prompt: 'All Story Regions',
        class: 'form-control form-control-sm',
        id: 'story-region-select'
      %>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-1 mb-md-2">
      <%=
        select_tag :place_category_id,
        options_from_collection_for_select(@place_categories, 'id', 'name', params[:place_category_id]),
        prompt: 'All Place Types',
        class: 'form-control form-control-sm',
        id: 'place-select'
      %>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-1 mb-md-2">
      <%=
        select_tag :story_category_id,
        options_from_collection_for_select(@story_categories, 'id', 'name', params[:story_category_id]),
        prompt: 'All Story Categories',
        class: 'form-control form-control-sm',
        id: 'category-select'
      %>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-1 mb-md-0">
      <%= submit_tag "Filter", class: 'btn btn-sm btn-secondary' %>
    </div>
  </div>
<% end %>
