<div class="container-fluid" id="main-content">
  <%= render partial: 'filters' %>

  <div class="grid story-grid">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    <% @stories.each do |story| %>
      <div class="grid-item grid-card card">
        <%= link_to image_tag(story.latest_image.src_url, class: "grid-image"), story_pages_path(story.permalink), target: '_blank' %>
        <div class="card-body">
          <div class="tagline-div-<%= story.id %>">
            <% if story.editor_tagline %>
              <h6 class="card-title text-center font-italic font-bold"><%= story.editor_tagline %></h6>
            <% end %>
            <% if current_user && story.users.include?(current_user) %>
              <p class="story-saved-text saved-text-<%= story.id %> text-center">
                <i class="fas fa-check-square mr-1"></i> Story Saved
              </p>
            <% end %>
          </div>

          <hr>

          <h5 class="text-center story-title"><%= link_to story.latest_url&.url_title, story.latest_url&.encoded_url, target: '_blank', class: 'text-dark' %></h5>

          <p class="text-center text-muted media-owner-date-line">
            <%= story.media_owner_and_date_line %>
          </p>

          <p class="url-desc">
            <%= truncate(story.latest_url.url_desc, length: 200, omission: '...  ' ) { link_to "Read more", story_pages_path(story.permalink), target: '_blank', class: 'read-more-link' } %>
          </p>

          <hr>

          <div class="row">
            <div class="col-12 text-center links-div" id=<%= story.id %>>
              <% if current_user && story.users.include?(current_user) %>
                <p class="forget-story-link forget-story-link-<%= story.id %>" id=<%= story.id %>>
                  <%= link_to "javascript:void(0)", id: story.id, class: "btn btn-sm btn-outline-dark grid-item-forget-story-#{story.id}" do %>
                    <i class="fas fa-times mr-1"></i> Forget Story
                  <% end %>
                </p>
              <% elsif current_user %>
                <p class="save-story-link save-story-link-<%= story.id %>" id=<%= story.id %>>
                  <%= link_to "javascript:void(0)", id: story.id, class: "btn btn-sm btn-primary grid-item-save-story-#{story.id}" do %>
                    <i class="fas fa-bookmark mr-1"></i> Save Story
                  <% end %>
                </p>
              <% else %>
                <p class="login-to-save-story-link login-to-save-story-link-<%= story.id %>" id=<%= story.id %>>
                  <%= link_to "javascript:void(0)", id: story.id, class: "btn btn-sm btn-primary grid-item-login-to-save-story-#{story.id}" do %>
                    <i class="fas fa-bookmark mr-1"></i> Save Story
                  <% end %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
