<%= form_for(@code) do |f| %>
  <% if @code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@code.errors.count, "error") %> prohibited this code from being saved:</h2>

      <ul>
      <% @code.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
	  <%= f.label :code_type %>&nbsp;&nbsp;
	  <%= f.select :code_type, ['SAP_PUBLISH_SCHEDULER','LOCATION_CODE','PLACE_CATEGORY','STORY_CATEGORY'], maxlength: 50 %>
	</div>
	<div class="field">
	  <%= f.label :code_key %>&nbsp;&nbsp;
	  <%= f.text_field :code_key, placeholder: "What the program searches for (no spaces)", onkeyup: "this.value = this.value.toUpperCase();", maxlength: 50 %>
	</div>
	<div class="field">
	  <%= f.label :code_value %>&nbsp;&nbsp;
	  <%= f.text_field :code_value, placeholder: "What the program uses or displays", maxlength: 50 %>
	</div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
