<h1>Media Owners List</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Url domain</th>
      <th>Owner name</th>
      <th>Media type</th>
      <th>Distribution type</th>
      <th>Publication name</th>
      <th>Paywall yn</th>
      <th>Content frequency time</th>
      <th>Content frequency other</th>
      <th>Content frequency guide</th>
      <th>Nextissue yn</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mediaowners.each do |mediaowner| %>
      <tr>
        <td><%= mediaowner.title %></td>
        <td><%= mediaowner.url %></td>
        <td><%= mediaowner.url_domain %></td>
        <td><%= mediaowner.owner_name %></td>
        <td><%= mediaowner.media_type %></td>
        <td><%= mediaowner.distribution_type %></td>
        <td><%= mediaowner.publication_name %></td>
        <td><%= mediaowner.paywall_yn %></td>
        <td><%= mediaowner.content_frequency_time %></td>
        <td><%= mediaowner.content_frequency_other %></td>
        <td><%= mediaowner.content_frequency_guide %></td>
        <td><%= mediaowner.nextissue_yn %></td>
        <td><%= link_to 'Show', mediaowner %></td>
        <td><%= link_to 'Edit', edit_mediaowner_path(mediaowner) %></td>
        <td><%= link_to 'Destroy', mediaowner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mediaowner', new_mediaowner_path %>
