<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @mediaowner.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @mediaowner.url %>
</p>

<p>
  <strong>Url domain:</strong>
  <%= @mediaowner.url_domain %>
</p>

<p>
  <strong>Owner name:</strong>
  <%= @mediaowner.owner_name %>
</p>

<p>
  <strong>Media type:</strong>
  <%= @mediaowner.media_type %>
</p>

<p>
  <strong>Distribution type:</strong>
  <%= @mediaowner.distribution_type %>
</p>

<p>
  <strong>Publication name:</strong>
  <%= @mediaowner.publication_name %>
</p>

<p>
  <strong>Paywall yn:</strong>
  <%= @mediaowner.paywall_yn %>
</p>

<p>
  <strong>Content frequency time:</strong>
  <%= @mediaowner.content_frequency_time %>
</p>

<p>
  <strong>Content frequency other:</strong>
  <%= @mediaowner.content_frequency_other %>
</p>

<p>
  <strong>Content frequency guide:</strong>
  <%= @mediaowner.content_frequency_guide %>
</p>

<p>
  <strong>Nextissue yn:</strong>
  <%= @mediaowner.nextissue_yn %>
</p>

<%= link_to 'Edit', edit_mediaowner_path(@mediaowner) %> |
<%= link_to 'Back', mediaowners_path %>
