<%= form_for @story do |f| %>
    <br>
    <!-- TODO: you needs to test for errors from the nested URLs also -->
    <% if @story.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>
          <ul>
            <% @story.errors.each_with_index do |message, i| %>
                <li><%= message[1] %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.fields_for :urls do |u| %>

        <div class="form-group" style="margin-top: .5%">
          <div class="panel panel-default">
            <div class="panel-body">
              <table class="table-responsive table-condensed">
                <tr>
                  <td>Page URL</td>
                  <td><%= u.text_field :url_full, :value => @source_url_pre, :readonly => true, :size => 100 %></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Domain</td>
                  <td><%= u.text_field :url_domain, :value => @base_domain, :readonly => true, :size => 35 %>
                    &nbsp;&nbsp;URL Type &nbsp;&nbsp;<%= u.select :url_type, ["Media"] %></td>
                  <td></td>
                </tr>
                <tr>
                  <td>URL Title</td>
                  <td><%= u.text_area :url_title, rows: 1, :value => @title, :maxlength => 250, style:"width: 825px" %></td>
                  <td></td
                </tr>
                <tr>
                  <td>URL Desc</td>
                  <td><%= u.text_area :url_desc, rows: 3, :value => @meta_desc, :maxlength => 1000, style:"width: 825px" %></td>
                  <td></td>
                </tr>
                <tr>
                  <td>URL Keywords</td>
                  <td><%= u.text_area :url_keywords, rows: 1, :value => @meta_keywords, :maxlength => 1000, style:"width: 825px" %></td>
                  <td></td>
                </tr>
                <%= u.hidden_field :raw_url_title_scrape, :value => @title %>
                <%= u.hidden_field :raw_url_desc_scrape, :value => @meta_desc %>
                <%= u.hidden_field :raw_url_keywords_scrape, :value => @meta_keywords %>
              </table>
            </div></div>
        </div>

        <%= u.fields_for :images do |i| %>
            <div class="form-group">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="container-fluid">

                    <% unless @image1 %>
                      <strong>Choose an Image</strong><br><br>
                    <% end %>

                  <% if params[:action] != "edit" %>

                      <% unless @page_imgs.nil? %>  <!-- display scraped images -->
                          <% @page_imgs.each_with_index do |hash, idx| %>
                              <div class="row">
                                <% unless @image1 %>
                                  <div class="col-lg-1 text-right">
                                    <%= i.radio_button :image_data, hash.to_json %>
                                    <%= hidden_field_tag "image_src_cache[#{idx}]", hash['src_url'] %>
                                    <%= hidden_field_tag "image_alt_text_cache[#{idx}]", hash['alt_text'] %>
                                  </div>
                                <% end %>
                                <div class="col-md-2">
                                  <%= i.label( :src_url, hash["alt_text"], :style => "font-weight:normal") %><br>
                                  <% size = hash["image_width"].to_s + " x " + hash["image_height"].to_s %>Size:
                                  <%= i.label( :src_url, size, :style => "font-weight:normal") %>
                                </div>
                                <div class="col-md-2">
                                  <%= image_tag(hash["src_url"], width: "250") %><br>
                                </div>
                              </div>
                          <% end %>
                      <% end %>

                      <% unless @image1 %>   <!-- display prompt for manual image -->
                          <div class="row-fluid"  style="border-top: 1px solid #BABFBA"><br>
                            <div class="col-md-1">
                              <%= i.label( :manual_url, "or Enter Manually") %>
                            </div>
                            <div class="col-md-1 text-right">
                              URL<br><br>
                            </div>
                            <div class="col-md-10 text-left">
                              <%= i.text_area :manual_url, :cols => 80 %><br>
                            </div><br>
                          </div>
                          <div class="row-fluid">
                            <div class="col-md-2 text-right">
                              Width<br><br>
                            </div>
                            <div class="col-md-4 text-left">
                              <%= i.text_field :image_width %>&nbsp;&nbsp;&nbsp;&nbsp;Height&nbsp;&nbsp;
                              <%= i.text_field :image_height %><br>
                            </div>
                          </div>
                      <% end %>

                  <% else %>

                        <div class="row-fluid"><br> <!-- display db values on edit -->
                          <div class="col-md-1">
                          </div>
                          <div class="col-md-1 text-right">
                            URL<br><br>
                          </div>
                          <div class="col-md-10 text-left">
                            <%= i.text_area :src_url, :cols => 80 %><br>
                          </div><br>
                        </div>
                        <div class="row-fluid">
                          <div class="col-md-2 text-right">
                            Width<br><br>
                          </div>
                          <div class="col-md-4 text-left">
                            <%= i.text_field :image_width %>&nbsp;&nbsp;&nbsp;&nbsp;Height&nbsp;&nbsp;
                            <%= i.text_field :image_height %><br>
                          </div>
                        </div>

                    <% end %>

                  </div>
                </div></div>
            </div>

        <% end %>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table-responsive table-condensed">
          <tr>
            <td>Editor Tagline </td>
            <td>  <%= f.text_field :editor_tagline, :value => @meta_tagline, :placeholder => "Maximum 60 chars", :maxlength => 60, :size => 60 %>  </td>
          </tr>
          <tr>
            <td>Locations</td>
            <td><span  class="has-popover" data-toggle="popover" data-placement="bottom" title="Location Codes" data-html="true" data-trigger="focus"
                                       data-content= "<%= raw location_options %>" >
                    <%= f.text_field :location_code, :value => @meta_location, :onkeyup => "this.value = this.value.toUpperCase();",
                    :placeholder => "Comma separated codes", :size => 50 %></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <span  class="has-popover" data-toggle="popover" data-placement="bottom" title="Place  Categories" data-html="true" data-trigger="focus"
                                       data-content= "<%= raw place_category_options %>" >Place Categories&nbsp;&nbsp;
                    <%= f.text_field :place_category, :value => @meta_place, :onkeyup => "this.value = this.value.toUpperCase();",
                    :placeholder => "Comma separated codes", :size => 30 %></span>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Story Categories</td>
            <td><span  class="has-popover" data-toggle="popover" data-placement="bottom" title="Story Category Codes" data-html="true" data-trigger="focus"
                       data-content= "<%= raw story_category_options %>" >
                    <%= f.text_field :story_category, :value => @meta_story_category, :onkeyup => "this.value = this.value.toUpperCase();",
                                     :placeholder => "Comma separated codes", :size => 50 %></span>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Scraped Type</td>
            <td><%= f.text_field :scraped_type, :value => @meta_type, size:20, :readonly => true %>&nbsp;&nbsp;&nbsp;Story Type
              <%= f.select :story_type, ["Magazine", "Newspaper", "Blog", "Internet", "Television", "Wheres URL Original",
                                         "Promotional", "Collection", "Affiliate", "CVB Publication", "Film", "Radio",
                                         "Guide", "Hotel Guide", "Book", "Industry Awards"] %></td>
          </tr>
          <tr>
            <td>Story Author</td>
            <td><%= f.text_field :author, :value => @meta_author, :size => 50 %></td>
          </tr>
          <tr>
            <td>Story Date</td>
            <td><%= f.number_field :story_year, :value => @year, :placeholder => "yyyy", in: 2000...2020, :style => "text-align: center"  %>
              <%= f.number_field :story_month, :value => @month, :placeholder => "mm", in: 1...13, :style => "text-align: center"  %>
              <%= f.number_field :story_date, :value => @day, :placeholder => "dd", in: 1...32, :style => "text-align: center" %>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.submit "Save", class: 'btn btn-sm btn-success' %></td>
          </tr>
          <%= f.hidden_field :raw_author_scrape, :value => @meta_author %>
          <%= f.hidden_field :raw_story_year_scrape, :value => @year %>
          <%= f.hidden_field :raw_story_month_scrape, :value => @month %>
          <%= f.hidden_field :raw_story_date_scrape, :value => @day %>
        </table>
      </div></div>

    <%= debug(params) if Rails.env.development? %>
    <%= debug(flash) if Rails.env.development? %>

    <iframe class="embed-responsive-item" sandbox="allow-same-origin allow-forms allow-scripts" src="<%= @full_web_url %>" frameborder="3" width="100%" height="900px">error!</iframe>
<% end %>
