<%= form_for @story do |f| %>
    <br>
    <% if @story.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>
          <ul>
            <% @story.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table-responsive table-condensed">
          <tr>
            <td>&nbsp;Editor Tagline </td>
            <td><%= f.text_field :editor_tagline, :placeholder => "Maximum 40 chars", :maxlength => 40, :size => 40 %>
              &nbsp;&nbsp;&nbsp;&nbsp;Location Codes&nbsp;&nbsp;<%= f.text_field :location_code, :onkeyup => "this.value = this.value.toUpperCase();", :placeholder => "Enter comma separated location codes", :size => 50 %></td>
          </tr>
          <tr>
            <td><%= button_to '', :class => "btn btn-xs", :id => "noop", style:"background-color:#ECF7A3;" do %>
                  Scraped Type&nbsp;
              <% end %></td>
            <td><%= text_field_tag(:meta_type_scrape_og, @meta_type_scrape_og, size:20, :readonly => true, style:"background-color:#ECF7A3") %>&nbsp;&nbsp;&nbsp;Story Type
              <%= f.select :story_type, ["Magazine", "Newspaper", "Blog", "Internet", "Television", "Wheres URL Original",
                                         "Promotional", "Collection", "Affiliate", "CVB Publication", "Film", "Radio",
                                         "Guide", "Hotel Guide", "Book", "Industry Awards"] %></td>
          </tr>
          <tr>
            <td><%= button_to '', :class => "btn btn-xs", :id => "copy-author", style:"background-color:#ECF7A3; border: 1px solid #ccc;" do %>
                  Scraped Author&nbsp;<span class="glyphicon glyphicon-save"></span>
              <% end %></td>
            <td><%= text_field_tag(:meta_author_scrape, @meta_author_scrape, :readonly => true, style:"background-color:#ECF7A3;", size:45) %>
          </tr>
          <tr>
            <td>&nbsp;Story Author</td>
            <td><%= f.text_field :author, :size => 50 %></td>
          </tr>
          <tr>
            <td><%= button_to '', :class => "btn btn-xs", :id => "copy-dates", style:"background-color:#ECF7A3; border: 1px solid #ccc;" do %>
                  Scraped Date&nbsp;<span class="glyphicon glyphicon-save"></span>
              <% end %></td>
            <td><%= text_field_tag(:year, @year, :size => 4, placeholder: "yyyy", :readonly => true, :style => "text-align: center;background-color:#ECF7A3") %>
              <%= text_field_tag(:month, @month, :size => 2, placeholder: "mm", :readonly => true, :style => "text-align: center;background-color:#ECF7A3") %>
              <%= text_field_tag(:date, @date, :size => 2, placeholder: "dd", :readonly => true, :style => "text-align: center;background-color:#ECF7A3") %>
          </tr>
          <tr>
            <td>&nbsp;Story Date</td>
            <td><%= f.text_field :story_year, :placeholder => "yyyy", :size => 4, :style => "text-align: center"  %>
              <%= f.text_field :story_month, :placeholder => "mm", :size => 2, :style => "text-align: center"  %>
              <%= f.text_field :story_date, :placeholder => "dd", :size => 2, :style => "text-align: center" %></td>
          </tr>
        </table>
      </div></div>

    <%= f.fields_for :urls do |u| %>
        <div class="form-group">
          <div class="panel panel-default">
            <div class="panel-body">
              <table class="table-responsive table-condensed">
                <tr>
                  <td>&nbsp;Page URL</td>
                  <td><%= u.text_field :url_full, :value => params[:source_url_pre], :readonly => true, :size => 100 %>
                    &nbsp;&nbsp;URL Type &nbsp;&nbsp;<%= u.select :url_type, ["Media"] %>
                    &nbsp;&nbsp;&nbsp;Primary? &nbsp;<%= u.check_box :primary, {}, true, false %></td>
                </tr>
                <tr>
                  <td><%= button_to '', :class => "btn btn-xs", :id => "copy-title", style:"background-color:#ECF7A3; border: 1px solid #ccc;" do %>
                        Scraped Title&nbsp;<span class="glyphicon glyphicon-save"></span>
                    <% end %>
                  </td>
                  <td><%= text_field_tag(:meta_title_scrape, @title_scrape, style:"background-color:#ECF7A3;", size:150) %></td>
                  <td></td>
                </tr>
                <tr>
                  <td>&nbsp;URL Title</td>
                  <td><%= u.text_field :url_title, :size => 150 %></td>
                  <td></td
                </tr>
                </tr>
                <td><%= button_to '', :class => "btn btn-xs", :id => "copy-desc", style:"background-color:#ECF7A3; border: 1px solid #ccc;" do %>
                      Scraped Desc&nbsp;<span class="glyphicon glyphicon-save"></span>
                  <% end %>
                </td>
                <td><%= text_field_tag(:meta_desc_scrape, @meta_desc_scrape, size:150, :readonly => true, style:"background-color:#ECF7A3") %>
                <td></td>
                </tr>
                <tr>
                  <td>&nbsp;URL Desc</td>
                  <td><%= u.text_field :url_desc, :size => 150 %></td>
                  <td></td>
                </tr>
                <tr>
                  <td><%= button_to '', :class => "btn btn-xs", :id => "copy-keyw", style:"background-color:#ECF7A3; border: 1px solid #ccc;" do %>
                        Scraped Keyw&nbsp;<span class="glyphicon glyphicon-save"></span>
                    <% end %>
                  </td>
                  <td><%= text_field_tag(:meta_keyword_scrape, @meta_keyword_scrape, size:100, :readonly => true, style:"background-color:#ECF7A3") %>
                    &nbsp;&nbsp;Domain&nbsp;<%= u.text_field :url_domain, :value => @base_domain, :readonly => true, :size => 35, style:"background-color:#ECF7A3" %>
                  <td></td>
                </tr>
                <tr>
                  <td>&nbsp;URL Keywords</td>
                  <td><%= u.text_field :url_keywords, :size => 100 %>
                    &nbsp;&nbsp&nbsp;&nbsp<%= f.submit "Save Story", class: 'btn btn-sm btn-success' %></td>
                  <td></td>
                </tr>
                <%= u.hidden_field :url_title_track %>
                <%= u.hidden_field :url_desc_track %>
                <%= u.hidden_field :url_keywords_track %>
              </table>
            </div></div>
        </div>
    <% end %>

    <%= debug(params) if Rails.env.development? %>
    <%= debug(flash) if Rails.env.development? %>

    <iframe class="embed-responsive-item" sandbox="allow-forms allow-scripts" src="<%= @full_web_url %>" frameborder="3" width="100%" height="600px">error!</iframe>
<% end %>