<%= form_for @story do |f| %>
    <br>
    <!-- TODO: you needs to test for errors from the nested URLs also -->
    <% if @story.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>
          <ul>
            <% @story.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table-responsive table-condensed">
          <tr>
            <td>Editor Tagline </td>
            <td>  <%= f.text_field :editor_tagline, :placeholder => "Maximum 40 chars", :maxlength => 60, :size => 40 %>  </td>
          </tr>
          <tr>
            <td>Location</td>
            <td><span  class="has-popover" data-toggle="popover" data-placement="bottom" title="Location Codes" data-html="true" data-trigger="focus"
                                       data-content= "<%= raw location_options %>" >
                    <%= f.text_field :location_code, :onkeyup => "this.value = this.value.toUpperCase();",
                    :placeholder => "Enter comma separated location codes", :size => 50 %></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <span  class="has-popover" data-toggle="popover" data-placement="bottom" title="Category Codes" data-html="true" data-trigger="focus"
                                       data-content= "<%= raw category_options %>" >
                    Category&nbsp;&nbsp;<%= f.text_field :category_code, :onkeyup => "this.value = this.value.toUpperCase();",
                    :placeholder => "Enter comma separated category codes", :size => 50 %></span>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Scraped Type</td>
            <td><%= text_field_tag(:meta_type_scrape_og, @screen_scraper.meta_type, size:20, :readonly => true, style:"background-color:#ECF7A3") %>&nbsp;&nbsp;&nbsp;Story Type
              <%= f.select :story_type, ["Magazine", "Newspaper", "Blog", "Internet", "Television", "Wheres URL Original",
                                         "Promotional", "Collection", "Affiliate", "CVB Publication", "Film", "Radio",
                                         "Guide", "Hotel Guide", "Book", "Industry Awards"] %></td>
          </tr>
          <tr>
            <td>Story Author</td>
            <td><%= f.text_field :author, :value => @screen_scraper.meta_author, :size => 50 %></td>
          </tr>
          <tr>
            <td>Story Date</td>
            <td><%= f.text_field :story_year, :value => @screen_scraper.year, :placeholder => "yyyy", :size => 4, :style => "text-align: center"  %>
              <%= f.text_field :story_month, :value => @screen_scraper.month, :placeholder => "mm", :size => 2, :style => "text-align: center"  %>
              <%= f.text_field :story_date, :value => @screen_scraper.day, :placeholder => "dd", :size => 2, :style => "text-align: center" %></td>
          </tr>
        </table>
      </div></div>

    <%= f.fields_for :urls do |u| %>

        <div class="form-group">
          <div class="panel panel-default">
            <div class="panel-body">
              <table class="table-responsive table-condensed">
                <tr>
                  <td>Page URL</td>
                  <td><%= u.text_field :url_full, :value => @source_url_pre, :readonly => true, :size => 100 %></td>
                  <td></td>
                </tr>
                <tr>
                   <td>Domain</td>
                   <td><%= u.text_field :url_domain, :value => @base_domain, :readonly => true, :size => 35, style:"background-color:#ECF7A3" %>
                     &nbsp;&nbsp;URL Type &nbsp;&nbsp;<%= u.select :url_type, ["Media"] %>
                    &nbsp;&nbsp;&nbsp;Primary URL? &nbsp;<%= u.check_box :primary, {}, true, false %></td>
                   <td></td>
                </tr>
                <tr>
                  <td>URL Title</td>
                  <td><%= u.text_area :url_title, rows: 1, :value => @screen_scraper.title, style:"width: 825px" %></td>
                  <td></td
                </tr>
                <tr>
                  <td>URL Desc</td>
                  <td><%= u.text_area :url_desc, rows: 1, :value => @screen_scraper.meta_desc, style:"width: 825px" %></td>
                  <td></td>
                </tr>
                <tr>
                  <td>URL Keywords</td>
                  <td><%= u.text_area :url_keywords, rows: 1, :value => @screen_scraper.meta_keywords, style:"width: 825px" %>
                    &nbsp;&nbsp&nbsp;&nbsp<%= f.submit "Save", class: 'btn btn-sm btn-success' %></td>
                  <td></td>
                </tr>
                <%= u.hidden_field :raw_url_title_scrape, :value => @screen_scraper.title %>
                <%= u.hidden_field :raw_url_desc_scrape, :value => @screen_scraper.meta_desc %>
                <%= u.hidden_field :raw_url_keywords_scrape, :value => @screen_scraper.meta_keywords %>
              </table>
            </div></div>
        </div>
    <% end %>

    <%= debug(params) if Rails.env.development? %>
    <%= debug(flash) if Rails.env.development? %>

    <iframe class="embed-responsive-item" sandbox="allow-forms allow-scripts" src="<%= @full_web_url %>" frameborder="3" width="100%" height="600px">error!</iframe>
<% end %>
