<%= form_tag( :action => "url_in" ) do %>
  <div>
    <%= text_field_tag(:source_url, nil, :placeholder => "Enter source URL ...", size:50) %>
    <br>
  </div>
  <div>
    <%= button_to "Process URL", { :controller => "stories", :action => "url_in", :method => "get", :class => 'btn btn-primary btn-sm'} %>
    <br>
  </div>
  <div>
    <%= text_field_tag(:target_url, nil, size:50) %>
    <br>
  </div>
<% end %>

<%= form_tag( :action => "url_show" ) do %>
    <div>
      <%= text_field_tag(:source_url, nil, :placeholder => "Enter source URL ...", size:50) %>
      <br>
    </div>
    <div>
      <%= button_to "Process URL", { :controller => "stories", :action => "url_in", :method => "get", :class => 'btn btn-primary btn-sm'} %>
      <br>
    </div>
    <div>
      <%= text_field_tag(:target_url, nil, size:50) %>
      <br>
    </div>
<% end %>


<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url_id, "URL" %><br>
    <%= f.text_field :url_id, :size=>"50" %>
  </div>
  <div class="field">
    <%= f.label :media_id %><br>
    <%= f.text_field :media_id, :size=>"50" %>
  </div>
  <div class="field">
    <%= f.label :story_type %><br>
    <%= f.text_field :story_type, :size=>"50" %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author, :size=>"50" %>
  </div>
  <div class="field">
    <%= f.label :publication_date %><br>
    <%= f.date_select :publication_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <iframe src="http://www.hotelsantabarbara.com/" frameborder="1" width="100%" height="400px">error!</iframe>
<% end %>
