<h1>Editing story</h1>
<% if @previous %>
  <%= link_to '< Previous', edit_story_path(@previous) %> |
<% end %>

<% if @next %>
  <%= link_to 'Next >', edit_story_path(@next) %>
<% end %>

<%= render 'form' %>

<%= link_to 'Show', @story %> |
<%= link_to 'Back', stories_path %>
