<%= form_for @story do |f| %>
  <br>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>
      <ul>
        <% @story.errors.each_with_index do |message, i| %>
          <li><%= message[1] %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :urls do |u| %>

    <div class="form-group" style="margin-top: .5%">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1>Edit Publish Sequence</h1>
				Sequence:
        <%= f.number_field :release_seq, :value => @sequence, style: "width: 50px; text-align: center"  %>&nbsp;&nbsp;&nbsp;
	      Title:
        <%= u.text_field :url_title, :value => @url_title, :readonly => true, size: 100  %><br>
        <%= hidden_field_tag 'source_action', 'edit_seq' %>
        <%= f.submit "Save", class: 'btn btn-sm btn-success' %>
      </div>
		</div>
	</div>

	<% end %>
<% end %>