<h1>Incomplete Stories List</h1>

<table class="table table-condensed">
  <thead>
  <tr>
    <th>ID&nbsp;</th>
    <th>Created&nbsp;</th>
    <th>Title&nbsp;&nbsp;</th>
    <th colspan="5"></th>
  </tr>
  </thead>

  <tbody>
  <% @stories.each do |story| %>
    <% story.urls.each do |u| %>
      <tr>
        <td><%= story.id %>&nbsp;</td>
        <td nowrap><%= story.created_at.strftime("%Y-%m-%dT%H:%M:%S") %> &nbsp;</td>
         <td><%= u.url_title %>&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;<%= link_to 'Show', story %>&nbsp;</td>
        <td><%= link_to 'Edit', edit_story_path(story) %>&nbsp;</td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Scrape New Story', stories_scrape_path %>