<h1>Listing stories</h1>

<table>
  <thead>
    <tr>
      <th>ID&nbsp;&nbsp;</th>
      <th>Created&nbsp;&nbsp;</th>
      <th>SAP Publish&nbsp;&nbsp;</th>
      <th>Tagline&nbsp;&nbsp;</th>
      <th>URL&nbsp;&nbsp;</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <% story.urls.each do |u| %>
	      <tr>
	        <td><%= story.id %>&nbsp;&nbsp;</td>
	        <td nowrap><%= story.created_at.strftime("%m-%e-%y %H:%M") %>&nbsp;&nbsp;</td>
	        <td nowrap><%= story.sap_publish_date.try(:strftime, "%m-%e-%y %H:%M") %>&nbsp;&nbsp;</td>
	        <td width="30%"><%= story.editor_tagline %></td>
	        <td width="40%"><%= u.url_full %>&nbsp;&nbsp;</td>
	        <td><%= link_to 'Show', story %>&nbsp;&nbsp;</td>
	        <td><%= link_to 'Edit', edit_story_path(story) %>&nbsp;&nbsp;</td>
	        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %>&nbsp;&nbsp;</td>
	      </tr>
	    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Scrape New Story', stories_scrape_path %>

