<div class="container container-sap">
  <div class="panel panel-default">
    <div class="panel-body panel-sap"
			<p style="font-size: 1.5em"></p>

			<table class="table table-condensed">
				<caption style="font-size: 1.22em; font-weight: 400; text-align: center; padding: 0">My Saved Stories</caption>
			  <thead>
			  <tr>
			    <th><p class="hidden-xs" style="display: inline">Saved</p>&nbsp;</th>
			    <th><p class="hidden-xs" style="display: inline">Published</p>&nbsp;</th>
			    <th><p style="display: inline">Story</p></th>
			    <th colspan="4"></th>
			  </tr>
			  </thead>

			  <tbody>
			  <% @my_stories.each do |story| %>
			    <% published_at = (story.story_year.to_s + '-' + story.story_month.to_s.rjust(2, '0') + '-' +
							          story.story_date.to_s.rjust(2, '0')).to_date.try(:strftime, "%b %d, %Y") %>
			    <tr>
			      <td nowrap><p class="hidden-xs" style="display: inline"><%= story.uss_created_at.in_time_zone("Pacific Time (US & Canada)").try(:strftime, "%b %d, %Y") %></p>&nbsp;</td>
			      <td nowrap><p class="hidden-xs" style="display: inline"><%= published_at %></p> &nbsp;</td>
			      <td><%= story.url_title + '....from '%><b><%= story.url_domain %></b>&nbsp;</td>
			      <td style="line-height: 1.0">&nbsp;<%= button_to 'View Story', story.url_full, form: {target: '_blank'}, class: 'btn btn-sap btn-info btn-sap-saved' %>&nbsp;</td>
			    </tr>
			  <% end %>
			  </tbody>

			</table>

	  </div>
  </div>
</div>