<%= form_for @story do |f| %>
    <br><br>
    <%= f.text_field :source_url_pre, :value => params[:source_url_pre], :size => 100 %>
    <table class="table table-condensed">
    <tr>
      <td>Story Type</td>
      <td><%= f.select :story_type, ["Magazine", "Newspaper", "Blog", "Internet", "Television", "Wheres URL Original",
                                 "Promotional", "Collection", "Affiliate", "CVB Publication", "Film", "Radio",
                                 "Guide", "Hotel Guide", "Book", "Industry Awards"] %></td>
    </tr>
    <tr>
      <td style="background-color: #ECF7A3;">Scraped Author&nbsp&nbsp</td>
      <td><%= text_field_tag(:meta_author_scrape, @meta_author_scrape, style:"background-color:#ECF7A3;", size:50) %></td>
    </tr>
    <tr style="padding-top: 8px">
      <td>Story Author</td>
      <td><%= f.text_field :author, :size => 50 %></td>
    </tr>
    <tr>
      <td style="background-color: #ECF7A3;">Scraped Date</td>
      <td>mm<%= text_field_tag(:month, @month, :size => 2, :style => "text-align: center;background-color:#ECF7A3") %>dd
      <%= text_field_tag(:day, @day, :size => 2, :style => "text-align: center;background-color:#ECF7A3") %>yyyy
      <%= text_field_tag(:year, @year, :size => 4, :style => "text-align: center;background-color:#ECF7A3") %></td>
    </tr>
    <tr>
      <td>Story Date</td>
      <td>mm<%= f.text_field :story_month, :size => 2  %>dd
      <%= f.text_field :story_date, :size => 2  %>yyyy
      <%= f.text_field :story_year, :size => 4  %></td>
    </tr>
    <tr>
      <td><%= f.submit "Submit" %></td>
      <td></td>
    </tr>
    </table>
<% end %>

<% if false %>
  <%= form_tag( "new" ) do %>
    <br><br>
    <table>
      <tr>
        <td><div style="float: left; margin-left: 1px "<%= button_to("Save", nil, class: 'btn btn-sm btn-success', :disabled => true) %></div></td>
        <td>&nbsp</td>
        <td><%= text_field_tag(:source_url_pre, @source_url_pre, size:100) %>
          <%= text_field_tag(:domain, @domain, size:45) %></td>
      </tr>
      <tr>
        <td style="background-color: #F5F5DC;">Title</td>
        <td>&nbsp</td>
        <td><%= text_field_tag(:title_scrape, @title_scrape, size:150) %></td>
      </tr>
      <td style="background-color: #F5F5DC;">Description </td>
      <td>&nbsp</td>
      <td><%= text_field_tag(:meta_desc_scrape, @meta_desc_scrape, size:150) %></td>
      </tr>
      <tr>
        <td>Keywords</td>
        <td>&nbsp</td>
        <td><%= text_field_tag(:meta_keyword_scrape, @meta_keyword_scrape, size:150) %></td>
      </tr>
      <tr>
        <td>Author</td>
        <td>&nbsp</td>
        <td><%= text_field_tag(:meta_author_scrape, @meta_author_scrape, size:100) %> mm
          <% if false %> debugging fields
              <%= text_field_tag(:alpha_date_match, @alpha_date_match, size:20) %>
              <%= text_field_tag(:num_date_match, @num_date_match, size:10) %>A
              <%= text_field_tag(:alpha_date_match_pos, @alpha_date_match_pos, size:5) %>N
              <%= text_field_tag(:num_date_match_pos, @num_date_match_pos, size:5) %>
          <% end %>
          <span class="text-center !important">
            <%= number_field_tag(:month, @month, min: 1, max: 12, :style => "text-align: center") %> dd
            <%= number_field_tag(:day, @day, min: 1, max: 31, :style => "text-align: center") %> yy
          <%= number_field_tag(:year, @year, min:1, max:2025, :style => "text-align: center") %></td>
          </span>
      </tr>
      <tr>
        <td>Full Content</td>
        <td>&nbsp</td>
        <td><%= text_area_tag :clean_text, @clean_text, rows: 5, cols:200 %></td>
      </tr>
    </table>
    <iframe src="<%= @full_web_url %>" frameborder="3" width="90%" height="600px">error!</iframe>
  <% end %>
<% end %>