<h3>Story</h3>
<p>
  <strong>Tagline: </strong>
  <%= @story.editor_tagline %>
  <strong>Location Codes: </strong>
  <%= @story.location_code %><br>
  <strong>Entered: </strong>
  <%= @story.created_at.strftime("%Y %m %d") %>
  <strong>Type: </strong>
  <%= @story.story_type %>
  <strong>Author: </strong>
  <%= @story.author %>
  <strong>Published: YYYY </strong>
  <%= @story.story_year %>&nbsp;
  <strong>MM </strong>
  <%= @story.story_month %>&nbsp;
  <strong>DD </strong>
  <%= @story.story_date %>
</p>

<h3>URL</h3>

<div style="margin-left: 25px">
  <% @story.urls.each do |u| %>

    <strong>URL: </strong>
    <%= truncate(u.url_full, :length => 100) %><br>

    <strong>Domain: </strong>&nbsp;
    <%= truncate(u.url_domain, :length => 30) %>&nbsp;&nbsp;

    <strong>Type: </strong>
    <%= truncate(u.url_type, :length => 20) %>&nbsp;&nbsp;

    <strong>Primary?: </strong>
    <%= u.primary %>&nbsp;&nbsp;<br>

    <strong>Title: </strong>
    <%= truncate(u.url_title, :length => 100) %>&nbsp;&nbsp;<br>

    <strong>Description: </strong>
    <%= truncate(u.url_desc, :length => 100) %>&nbsp;&nbsp;<br>

    <strong>Keywords: </strong>
    <%= truncate(u.url_keywords, :length => 100) %>&nbsp;&nbsp;<br>

    <strong>Tracking Title/Desc/Keywords: </strong>
    <%= u.url_title_track %>&nbsp;&nbsp;
    <%= u.url_desc_track %>&nbsp;&nbsp;
    <%= u.url_keywords_track %>&nbsp;&nbsp;<br><br>

  <% end %>
</div>
<%= debug(params) if Rails.env.development? %>
<%= debug(flash) if Rails.env.development? %>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>

