<h3>Story</h3>
<p>
  <strong>Id: </strong>
  <%= @story.id %>&nbsp;&nbsp;
  <strong>Tagline: </strong>
  <%= @story.editor_tagline %><br>
  <strong>Location Codes: </strong>
  <%= @story.location_code %>&nbsp;&nbsp;
  <strong>Place Categories: </strong>
  <%= @story.place_category %>&nbsp;&nbsp;
  <strong>Story Categories: </strong>
  <%= @story.story_category %><br>
  <strong>Entered: </strong>
  <%= @story.created_at.strftime("%A, %b %d") %>&nbsp;&nbsp;
  <strong>Scraped Type: </strong>
  <%= @story.scraped_type %>&nbsp;&nbsp;
  <strong>Type: </strong>
  <%= @story.story_type %>&nbsp;&nbsp;
  <strong>Author: </strong>
  <%= @story.author %>&nbsp;&nbsp;
  <strong>Media Published: </strong>
  <%= @story.story_year %>&nbsp;
  <%= @story.story_month %>&nbsp;
  <%= @story.story_date %><br>
  <strong>SAP Publish Dt: </strong>
  <%= @story.sap_publish_date %><br>
  <strong>Story Tracking– Author/YYYY/MM/DD: </strong>
  <%= @story.author_track %>&nbsp;&nbsp;
  <%= @story.story_year_track %>&nbsp;&nbsp;
  <%= @story.story_month_track %>&nbsp;&nbsp;
  <%= @story.story_date_track %><br>
  <strong>Data Entry Seconds</strong>
  <%= @story.data_entry_time %><br>

</p>

<h3>URL</h3>

<div style="margin-left: 25px">
  <% @urls.each do |u| %>

    <strong>Id: </strong>
    <%= u.id %>&nbsp;&nbsp;

      <strong>URL: </strong>
    <%= u.url_full %><br>

    <strong>Domain: </strong>&nbsp;
    <%= truncate(u.url_domain, :length => 30) %>&nbsp;&nbsp;

    <strong>Type: </strong>
    <%= truncate(u.url_type, :length => 20) %>&nbsp;&nbsp;<br>

    <strong>Title: </strong>
    <%= u.url_title %>&nbsp;&nbsp;<br>

    <strong>Description: </strong>
    <%= u.url_desc %>&nbsp;&nbsp;<br>

    <strong>Keywords: </strong>
    <%= u.url_keywords %>&nbsp;&nbsp;<br>

    <strong>URL Tracking Title/Desc/Keywords: </strong>
    <%= u.url_title_track %>&nbsp;&nbsp;
    <%= u.url_desc_track %>&nbsp;&nbsp;
    <%= u.url_keywords_track %>&nbsp;&nbsp;<br>

  <% end %>
</div>

<h3>Image</h3>
<div style="margin-left: 50px; text-align: left">

  <% @images.each do |i| %>
    <strong>Id: </strong>
    <%= i.id %>&nbsp;&nbsp;
    <strong>Manual?: </strong>
    <%= i.manual_enter %>&nbsp;&nbsp;
    <strong>Image: </strong>
    <%= truncate(i.src_url, :length => 100) %>&nbsp;&nbsp;<br>
    <strong>Image Text: </strong>
    <%= truncate(i.alt_text, :length => 100) %>&nbsp;&nbsp;<br>
    <strong>Image Width: </strong>
    <%= i.image_width %>&nbsp;&nbsp;<br>
    <strong>Image Height: </strong>
    <%= i.image_height %>&nbsp;&nbsp;<br><br>
    <%= image_tag(i.src_url, :width =>250, style:"margin-left: 0") %>
  <% end %>
</div>

<%= debug(params) if Rails.env.development? %>
<%= debug(flash) if Rails.env.development? %>

<%= link_to 'Scrape', stories_scrape_path %> |
<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Stories List', stories_path %>
