<p id="notice"><%= notice %></p>

<p>
  <strong>Story type:</strong>
  <%= @story.story_type %>
</p>

<p>
  <strong>Author:</strong>
  <%= @story.author %>
</p>

<p>
  <strong>mm</strong>
  <%= @story.story_month %>
</p>

<p>
  <strong>dd</strong>
  <%= @story.story_date %>
</p>

<p>
  <strong>yyyy</strong>
  <%= @story.story_year %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
