<%= form_tag( "url_show" ) do %>
    <br><br>
    <table>
      <tr>
        <td><div style="float: left; margin-left: 1px "<%= button_to("Process URL", nil, class: 'btn btn-sm btn-success') %></div></td>
        <td>&nbsp</td>
        <td><%= text_field_tag(:source_url, @source_url_pre, size:50) %>
            <%= text_field_tag(:domain, @domain, size:25) %></td>
      </tr>
      <tr>
      <tr>
        <td>Title</td>
        <td>&nbsp</td>
        <td><%= text_field_tag(:title_scrape, @title_scrape, size:150) %></td>
      </tr>
        <td>Description </td>
        <td>&nbsp</td>
        <td><%= text_field_tag(:meta_desc_scrape, @meta_desc_scrape, size:150) %></td>
      </tr>
      <tr>
        <td>Keywords</td>
        <td>&nbsp</td>
        <td><%= text_field_tag(:meta_keyword_scrape, @meta_keyword_scrape, size:150) %></td>
      </tr>
      <tr>
        <td>Author</td>
        <td>&nbsp</td>
        <td><%= text_field_tag(:meta_author_scrape, @meta_author_scrape, size:100) %> Dates
            <%= text_field_tag(:alpha_date_match, @alpha_date_match, size:20) %>
            <%= text_field_tag(:num_date_match, @num_date_match, size:10) %></td>
      </tr>
      <tr>
        <td>Content</td>
        <td>&nbsp</td>
        <td><%= text_area_tag :para, @para, rows: 5, cols:200 %></td>
      </tr>
    </table>
    <iframe src="<%= @full_web_url %>" frameborder="3" width="90%" height="600px">error!</iframe>
<% end %>
