<h1>Listing media_infos</h1>

<table>
  <thead>
    <tr>
      <th>Media type</th>
      <th>Url</th>
      <th>Media desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @media_infos.each do |media_info| %>
      <tr>
        <td><%= media_info.media_type %></td>
        <td><%= media_info.url_id %></td>
        <td><%= media_info.media_desc %></td>
        <td><%= link_to 'Show', media_info %></td>
        <td><%= link_to 'Edit', edit_media_info_path(media_info) %></td>
        <td><%= link_to 'Destroy', media_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Media info', new_media_info_path %>
