<div class="container">
  <%= form_for(@queued_item, url: admin_newsfeed_path(@queued_item), method: :patch) do |f| %>
    <div class="jumbotron bg-white admin-form">
      <div class="header text-center">
        <h4><i class="fas fa-sort-numeric-down mr-1"></i> Edit Queued Item</h4>
      </div>

      <hr class="my-4">

      <div class="body">
        <div class="form-group my-4 max-vw-80 mx-auto">
          <%= f.label :queue_position %><br>
          <%= f.number_field :queue_position, class: "form-control" %>
          <%= f.hidden_field :old_queue_position, value: @queued_item.queue_position %>
        </div>

        <div class="form-group my-4 max-vw-80 mx-auto">
          <%= f.label :clear_at %><br>
          <%= f.datetime_field :clear_at, class: "form-control" %>
        </div>

        <div class="form-group my-4 max-vw-80 mx-auto">
          <%= f.label :pinned %><br>
          <%= f.check_box :pinned %>
        </div>

        <div class="form-group my-4 max-vw-80 mx-auto">
          <%= f.label :pinned_action %><br>
          <%= f.collection_select :pinned_action, ['release', 'replace'], :to_s, :titleize, {}, { class: 'form-control' } %>
          <small class="form-text text-muted">This determines what happens when a new pinned item is posted to the newsfeed. Release (default) will release the currently pinned item to flow naturally through the newsfeed, in other words moving it to position 2 in the newsfeed. Replace will replace the current pinned item with the new pinned item, removing the old pinned item from the feed completely.</small>
        </div>

        <hr class="my-4">

        <div class="actions">
          <%= f.submit "Save", class: 'btn btn-md btn-primary text-center w-100' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
