<div class="container-fluid">
  <div class="mb-2">
    <div class="text-center" style="padding-right: 9rem;">
      <%= link_to list_editor_admin_custom_story_path, class: "btn btn-sm btn-primary float-left", data: { turbolinks: false } do %>
        <i class="fas fa-arrow-left mr-1"></i> Back to List Edit
      <% end %>
      <h5 class="d-inline">Custom Story Review</h5>
    </div>
  </div>

  <div class="grid story-grid">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
    <div class="grid-item grid-card card" id="grid-card-<%= @story.id %>">
      <% if @story.internal_image.present? && @story.external_image.present? %>
        <div id="gridImageCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#gridImageCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#gridImageCarousel" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= link_to image_tag(@story.internal_image, class: "grid-image"), admin_story_path(@story), target: '_blank' %>
            </div>
            <div class="carousel-item">
              <%= link_to image_tag(@story.external_image.src_url, class: "grid-image"), admin_story_path(@story), target: '_blank' %>
            </div>
          </div>
          <a class="carousel-control-prev" href="#gridImageCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#gridImageCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      <% elsif @story.internal_image %>
        <%= link_to image_tag(@story.internal_image, class: "grid-image"), admin_story_path(@story), target: '_blank' %>
      <% else %>
        <%= link_to image_tag(@story.external_image.src_url, class: "grid-image"), admin_story_path(@story), target: '_blank' %>
      <% end %>

      <div class="card-body">
        <div class="tagline-div-<%= @story.id %>">
          <% if @story.editor_tagline %>
            <h6 class="card-title text-center font-italic font-bold"><%= @story.editor_tagline %></h6>
          <% end %>
        </div>

        <hr>

        <div>
          <%= @story.custom_body %>
        </div>

        <hr>

        <div class='text-left'>
          <h6 class='text-center'>Related Stories</h6>
          <% @list_items.each do |list_item| %>
            <p>
              <%= link_to story_path(list_item.story_id), data: { toggle: 'tooltip', placement: 'top', title: "View #{list_item.story.type.underscore.split('_').first.capitalize} Story" }, class: 'text-info' do %>
                <i class='<%= colored_icon_for_story_type(list_item.story.type) %>'></i> <%= list_item.story.latest_url&.url_title %>
              <% end %>
            </p>
          <% end %>
        </div>

        <hr>

        <div class="row">
          <div class="col-12 text-center links-div" id=<%= @story.id %>>
            <% if current_user && @story.users.include?(current_user) %>
              <p class="forget-story-link forget-story-link-<%= @story.id %>" id=<%= @story.id %>>
                <%= link_to "javascript:void(0)", id: @story.id, class: "btn btn-sm btn-outline-dark grid-item-forget-story-#{@story.id}" do %>
                  <i class="fas fa-times mr-1"></i> Forget Story
                <% end %>
              </p>
            <% elsif current_user %>
              <p class="save-story-link save-story-link-<%= @story.id %>" id=<%= @story.id %>>
                <%= link_to "javascript:void(0)", id: @story.id, class: "btn btn-sm btn-primary grid-item-save-story-#{@story.id}" do %>
                  <i class="fas fa-bookmark mr-1"></i> Save Story
                <% end %>
              </p>
            <% else %>
              <p class="login-to-save-story-link login-to-save-story-link-<%= @story.id %>" id=<%= @story.id %>>
                <%= link_to "javascript:void(0)", id: @story.id, class: "btn btn-sm btn-primary grid-item-login-to-save-story-#{@story.id}" do %>
                  <i class="fas fa-bookmark mr-1"></i> Save Story
                <% end %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-item grid-card card">
      <div class="card-body">
          <div class="header text-center">
            <h5>Revise Fields</h5>
          </div>

          <hr class="my-2">

          <div class="body">

          </div>
      </div>
    </div>
    <div class="grid-item grid-card card">
      <div class="card-body">
        <div class="header text-center">
          <h5>Story Status</h5>
        </div>

        <hr class="my-2">
        <p class="lead text-center">Current State: <br><strong><%= @story.state.titleize %></strong></p>


        <div class="body text-left">
          <%= form_with(model: @story, url: update_state_admin_story_path(@story), method: :patch) do |f| %>
            <% Story.all_states_mapping.each do |title, value| %>
              <% next if value == 'no_status' %>
              <ul class="list-group">
                <li class="list-group-item">
                  <%= f.radio_button :state, value, checked: @story.state == value %>
                  <%= label :state, title, value: value %>
                </li>
              </ul>
            <% end %>
            <div class="d-flex justify-content-between">
              <%= submit_tag "Save & New", class: "btn btn-sm btn-success mt-4" %>
              <br>
              <%= submit_tag "Save & Exit", class: "btn btn-sm btn-success mt-4" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
