<div class="container-fluid">
  <%= render partial: 'nav_btns', locals: { story: @story }%>

  <div class="header text-center">
    <% if @story&.persisted? %>
      <h6>Story ID: <%= @story.id %></h6>
    <% end %>
  </div>

  <div class="grid story-grid mt-n4">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
    <div class="grid-item grid-card card" id="grid-card-<%= @story.id %>">
      <% if @story.internal_image.present? && @story.external_image.present? %>
        <div id="gridImageCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#gridImageCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#gridImageCarousel" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= link_to image_tag(@story.internal_image, class: "grid-image"), admin_story_path(@story), target: '_blank' %>
            </div>
            <div class="carousel-item">
              <%= link_to image_tag(@story.external_image.src_url, class: "grid-image"), admin_story_path(@story), target: '_blank' %>
            </div>
          </div>
          <a class="carousel-control-prev" href="#gridImageCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#gridImageCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      <% elsif @story.internal_image.present? %>
        <%= link_to image_tag(@story.internal_image, class: "grid-image"), admin_story_path(@story), target: '_blank' %>
      <% else %>
        <%= link_to image_tag(@story.external_image.src_url, class: "grid-image"), admin_story_path(@story), target: '_blank' %>
      <% end %>

      <div class="card-body">
        <% if @story.editor_tagline %>
          <div class="tagline-div-<%= @story.id %>">
            <h6 class="card-title text-center font-italic font-bold"><%= @story.editor_tagline %></h6>
          </div>
        <% end %>

        <% if @story.custom_body.present? %>
          <hr>
          <div>
            <%= @story.custom_body %>
          </div>
        <% end %>

       <% if @list_items.present? %>
          <hr>
          <div class='text-left'>
            <h6 class='text-center'>Related Stories</h6>
            <% @list_items.each do |list_item| %>
              <p>
                <%= link_to story_path(list_item.story_id), data: { toggle: 'tooltip', placement: 'top', title: "View #{list_item.story.type.underscore.split('_').first.capitalize} Story" }, class: 'text-info', target: '_blank'  do %>
                  <i class='<%= colored_icon_for_story_type(list_item.story.type) %>'></i> <%= list_item.story.latest_url&.url_title %>
                <% end %>
              </p>
            <% end %>
          </div>
        <% end %>

        <% if @story.savable? %>
          <hr>
          <div class="row">
            <div class="col-12 text-center links-div" id=<%= @story.id %>>
              <% if current_user && @story.users.include?(current_user) %>
                <p class="forget-story-link forget-story-link-<%= @story.id %>" id=<%= @story.id %>>
                  <%= link_to "javascript:void(0)", id: @story.id, class: "btn btn-sm btn-outline-dark grid-item-forget-story-#{@story.id}" do %>
                    <i class="fas fa-times mr-1"></i> Forget Story
                  <% end %>
                </p>
              <% elsif current_user %>
                <p class="save-story-link save-story-link-<%= @story.id %>" id=<%= @story.id %>>
                  <%= link_to "javascript:void(0)", id: @story.id, class: "btn btn-sm btn-primary grid-item-save-story-#{@story.id}" do %>
                    <i class="fas fa-bookmark mr-1"></i> Save Story
                  <% end %>
                </p>
              <% else %>
                <p class="login-to-save-story-link login-to-save-story-link-<%= @story.id %>" id=<%= @story.id %>>
                  <%= link_to "javascript:void(0)", id: @story.id, class: "btn btn-sm btn-primary grid-item-login-to-save-story-#{@story.id}" do %>
                    <i class="fas fa-bookmark mr-1"></i> Save Story
                  <% end %>
                </p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="grid-item grid-card card">
      <div class="card-body">
          <div class="header text-center">
            <h5>Revise Fields</h5>
          </div>

          <hr class="my-2">

          <div class="body">
            <%= form_with(model: @story, url: review_update_admin_custom_story_path(@story)) do |f| %>
              <div class="form-group my-4 max-vw-80 mx-auto">
                <%= f.label :editor_tagline, 'Editor Tagline:' %>
                <%= f.text_area :editor_tagline, rows: 2, cols: 25, placeholder: 'Editor tagline', class: 'form-control' %>
              </div>

              <div class="form-group my-4 max-vw-80 mx-auto">
                <%= f.label :savable do %>
                  <%= f.check_box :savable, class: 'mr-2' %>
                  Can be saved?
                <% end %>
              </div>

              <div class="sign-in-row mt-4 mx-auto text-center">
                <%= submit_tag "Revise", class: "btn btn-sm btn-primary" %>
              </div>
            <% end %>
          </div>
      </div>
    </div>
    <div class="grid-item grid-card card">
      <div class="card-body">
        <div class="header text-center">
          <h5>Story Status</h5>
        </div>

        <hr class="my-2">
        <p class="lead text-center">Current State: <br><strong><%= @story.state.titleize %></strong></p>


        <div class="body text-left">
          <%= form_with(model: @story, url: update_state_admin_story_path(@story), method: :patch) do |f| %>
            <% Story.all_states_mapping.each do |title, value| %>
              <% next if value == 'no_status' %>
              <ul class="list-group">
                <li class="list-group-item">
                  <%= f.label :state do %>
                    <%= f.radio_button :state, value, checked: @story.state == value %>
                      <%= title %>
                  <% end %>
                </li>
              </ul>
            <% end %>
            <div class="d-flex justify-content-between">
              <%= submit_tag "Save & New", class: "btn btn-sm btn-success mt-4" %>
              <br>
              <%= submit_tag "Save & Exit", class: "btn btn-sm btn-success mt-4" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
