<h1>Images List</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Img Url</th>
      <th>Img Text</th>
      <th>Url Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @images.reverse.each do |image| %>
      <tr>
        <td><%= image.id %>&nbsp;&nbsp;</td>
        <td><%= image.src_url %>&nbsp;&nbsp;</td>
        <td><%= image.alt_text %>&nbsp;&nbsp;</td>
        <td><%= image.url_id %>&nbsp;&nbsp;</td>
        <td><%= link_to 'Show', image %>&nbsp;&nbsp;</td>
        <td><%= link_to 'Edit', edit_image_path(image) %>&nbsp;&nbsp;</td>
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

