<div class="container-fluid">
<div id="responsive" class="modal fade" data-width="1000" role="dialog"  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="modal-header">
          <span style="font-size: 2em">Sign in</span>
          <button type="button" class="close" data-dismiss="modal"
                  aria-hidden="true">x</button><br>
        </div>

        <div class="modal-body">

          <div class="form-group">
                <div class="col-xs-3 signin-input-sap" >Email</div>
	              <div class="col-xl-12" style="padding-bottom: 10px"><%= f.text_field :email, required: false, maxlength: 60, class: "form-control", autofocus: true %></div>
                <div class="col-xs-3 signin-input-sap" style="padding-bottom: 5px">Password</div>
                <div class="col-xl-12"><%= f.password_field :password, required: false, maxlength: 60, class: "form-control" %></div>
                <div class="col-xs-12 remember-sap">Remember Me&nbsp;&nbsp;&nbsp;
                <%= f.check_box :remember_me, as: :boolean if devise_mapping.rememberable? %></div><br>
          </div>

          <div class="form-actions signin-sap">
            <button type="submit" class="btn btn-primary">Sign in</button><br><br>
          </div>

        </div>

        <div class="modal-footer">

          <%= link_to "Forgot your password?", new_password_path(resource_name) %><br>
          <%= render "devise/shared/links" %>
          <span class="signup signup-links">Haven't registered yet?&nbsp;&nbsp;&nbsp;<strong><%= link_to "Sign up", \
              new_user_registration_path %></strong></span><br>

        </div>

      <% end %>
    </div>
  </div>
</div>
</div>
