<div id="responsive" class="modal fade" data-width="1000" role="dialog"  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="modal-header">
            <span style="font-size: 2em">Login</span>
            <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">x</button><br>
          </div>

          <div class="modal-body">

            <div class="form-inputs">
              <table>
                <tr>
                  <td style="padding-bottom: 10px">Email</td>
                  <td style="padding-bottom: 10px"><%= f.text_field :email, required: false, maxlength: 50, autofocus: true %></td>
                </tr>
                <tr>
                  <td style="padding-bottom: 10px">Password</td>
                  <td style="padding-bottom: 10px"><%= f.password_field :password, required: false, maxlength: 50 %></td>
                </tr>
                <tr>
                  <td>Remember Me&nbsp;</td>
                  <td><%= f.check_box :remember_me, as: :boolean if devise_mapping.rememberable? %></td>
                </tr>
              </table><br>
            </div>

            <div class="form-actions">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>

          </div>

          <div class="modal-footer">

            <%= link_to "Forgot your password?", new_password_path(resource_name) %><br>
            <%= render "devise/shared/links" %>
            <span style="font-size: 1.5em">Haven't registered yet?&nbsp;&nbsp;&nbsp;<strong><%= link_to "Sign up", \
                new_user_registration_path %></strong></span><br>

          </div>

      <% end %>
    </div>
  </div>
</div>

<% if false %>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="modal-header">
          <span style="font-size: 2em">Login</span>
          <button type="button" class="close" data-dismiss="modal"
                  aria-hidden="true">x</button><br>
        </div>

        <div class="modal-body">

          <div class="form-inputs">
            <%= f.input :email, label:"Email ", required: false, maxlength: 50, autofocus: true %><br>
            <%= f.input :password, required: false, maxlength: 50 %><br>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %><br>
          </div>

          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>

        </div>

        <div class="modal-footer">

          <%= render "devise/shared/links" %>
          <%= link_to "Forgot your password?", new_password_path(resource_name) %><br>
          <%= link_to "Haven't registered yet? Sign up.", new_user_registration_path %>

        </div>

    <% end %>
<% end %>