<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <%= image_pack_tag "sap-logo.png", id: "login-logo", class: "m-auto" %>
        </div>
        <div class="modal-body">
          <div class="form-group mt-1">
            <label>Email address</label>
            <%= f.text_field :email,
              required: true,
              maxlength: 60,
              autofocus: true,
              placeholder: "Enter email",
              class: "form-control"
            %>
          </div>
          <div class="form-group">
            <label>Password</label>
            <%= f.password_field :password,
              required: true,
              maxlength: 60,
              placeholder: "Password",
              class: "form-control"
            %>
          </div>

          <div class="row">
            <div class="col-6 text-left">
              <div class="form-group">
                <div class="form-check">
                  <%= f.check_box :remember_me, as: :boolean, class: "form-check-input", id: "remember-me-cb" if devise_mapping.rememberable? %>
                  <label class="form-check-label" for="remember-me-cb">
                    Remember Me?
                  </label>
                </div>
              </div>
            </div>
            <div class="col-6 text-right">
              <div class="form-group">
                <%= link_to "Forgot password?", new_password_path(resource_name) %><br>
                <%= link_to "Resend Confirmation?", new_confirmation_path(resource_name) %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="m-auto">
              <%= recaptcha_tags if Rails.env.production? %>
            </div>
          </div>

          <div class="sign-in-row">
            <%= f.submit "Sign In", class: "btn btn-primary" %>
          </div>
        </div>
        <div class="modal-footer">
          <span class="m-auto">
            Haven't registered yet? <strong><%= link_to "Sign up!", new_user_registration_path %></strong>
          </span>
        </div>
      </div>
    </div>
  </div>
<% end %>
