<%# add navigation links to this file %>

<% if user_signed_in? %>
	<% signedin_as, fname, lname = "","","" %>
	<% fname = current_user.first_name unless current_user.first_name.nil? %>
	<% lname = current_user.last_name unless current_user.last_name.nil? %>
	<% full_name = fname + " " + lname %>
	<% @signedin_as = (fname == "" ? current_user.email : full_name) %>
<% end %>

<li><%= link_to 'Home', root_path %></li>

<li class="dropdown">
  <% if user_signed_in? %>

    <% if current_user.admin? %>
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Admin <span class="caret"></span>
      </a>
		  <ul class="dropdown-menu" role="menu">
		    <li><%= link_to 'Add New Story', stories_scrape_path %></li>
		    <li class="divider"></li>
		    <li><%= link_to 'Stories List', stories_path %></li>
		    <li><%= link_to 'Urls List', urls_path %></li>
		    <li><%= link_to 'Images List', images_path %></li>
		    <li><%= link_to 'Codes List', codes_path %></li>
		    <li><%= link_to 'Add Codes', new_code_path %></li>
		    <li class="divider"></li>
		    <li><%= link_to 'Users List', users_path %></li>
		    <li class="divider"></li>
		    <li><%= link_to 'Export Stories and Users', reports_csv_export_path %></li>
		  </ul>
    <% end %>

    <% if current_user.associate? %>
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Associate <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to 'Add New Story', stories_scrape_path %></li>
        <li class="divider"></li>
        <li><%= link_to 'Stories List', stories_path %></li>
        <li><%= link_to 'Urls List', urls_path %></li>
        <li><%= link_to 'Images List', images_path %></li>
        <li class="divider"></li>
        <li><%= link_to 'Export Stories', reports_csv_export_path %></li>
      </ul>
    <% end %>
  <% end %>
</li>

<li>
  <% if user_signed_in? %>
	  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <%= @signedin_as %> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li><%= link_to 'Edit Acct', edit_user_registration_path, :class=>"btn btn-link btn-primary" %></li>
      <li class="divider"></li>
      <li><%= link_to 'Log out', destroy_user_session_path, :method=>'delete', :class=>"btn btn-link btn-primary" %></li>
    </ul>
	<% else %>
    <button type="button" class="btn btn-default navbar-btn btn-primary" data-toggle="modal" data-target="#responsive">Login/Sign Up</button>
	<% end %>
</li>


