<div class="bg-white" id="sidebar-wrapper">
  <div class="sidebar list-group list-group-flush border-right">
    <%= nav_item_link(admin_stories_path, "All Stories", "fas fa-book") %>
    <%= nav_item_link(admin_initialize_scraper_index_path, "Add New Story", "fas fa-plus") %>
    <%= nav_item_link(bulk_index_admin_stories_path, "Bulk Story Edit", "fas fa-check-square") %>
    <%= nav_item_link(admin_published_items_path, "Publishable", "fas fa-tasks") %>
    <%= nav_item_link(queue_admin_newsfeed_index_path, "Newsfeed Queue", "fas fa-sort-numeric-down") %>
    <%= nav_item_link(admin_urls_path, "Urls", "fas fa-link") %>
    <%= nav_item_link(admin_images_path, "Images", "fas fa-images") %>
    <%= nav_item_link(admin_codes_path, "Codes", "fas fa-cogs") %>
    <%= nav_item_link(admin_addresses_path, "Addresses", "fas fa-map-marker-alt") %>
    <%= nav_item_link(admin_places_path, "Places", "fas fa-map-marker-alt") %>
    <%= nav_item_link(admin_story_regions_path, "Story Regions", "fas fa-map-marker-alt") %>
    <%= nav_item_link(admin_place_categories_path, "Place Categories", "fas fa-map-marked-alt") %>
    <%= nav_item_link(admin_story_categories_path, "Story Categories", "fas fa-photo-video") %>
    <%= nav_item_link(admin_media_owners_path, "Media Owners", "fas fa-address-card") %>
    <%= nav_item_link(admin_users_path, "Users", "fas fa-users") %>
    <%= nav_item_link(admin_reports_path, "Reports", "fas fa-file-csv") %>
    <%= nav_item_link(activities_admin_newsfeed_index_path, "Newsfeed Activities", "fas fa-stream") %>
    <%= nav_item_link(admin_admin_settings_path, "Admin Settings", "fas fa-users-cog") %>
  </div>
</div>
