<div class="bg-white" id="sidebar-wrapper">
  <div class="sidebar list-group list-group-flush border-right">
    <%= nav_item_link(admin_stories_path, 'All Stories', 'fa-book') %>
    <%= nav_item_link(admin_initialize_scraper_index_path, "Add New Story", "fa-plus") %>
    <%= nav_item_link(admin_published_items_path, "Publishable", "fa-tasks") %>
    <%= nav_item_link(queue_admin_newsfeed_index_path, "Newsfeed Queue", "fa-sort-numeric-down") %>
    <%= nav_item_link(admin_urls_path, "Urls", "fa-link") %>
    <%= nav_item_link(admin_images_path, "Images", "fa-images") %>
    <%= nav_item_link(admin_codes_path, "Codes", "fa-cogs") %>
    <%= nav_item_link(admin_locations_path, "Locations", "fa-map-marker-alt") %>
    <%= nav_item_link(admin_place_categories_path, "Place Categories", "fa-map-marked-alt") %>
    <%= nav_item_link(admin_story_categories_path, "Story Categories", "fa-photo-video") %>
    <%= nav_item_link(admin_media_owners_path, "Media Owners", "fa-address-card") %>
    <%= nav_item_link(admin_users_path, "Users", "fa-users") %>
    <%= nav_item_link(admin_reports_path, "Reports", "fa-file-csv") %>
    <%= nav_item_link(activities_admin_newsfeed_index_path, "Newsfeed Activities", "fa-stream") %>
    <%= nav_item_link(admin_admin_settings_path, "Admin Settings", "fa-users-cog") %>
  </div>
</div>
