<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <% url_env = request.url %>
    <% if Rails.env.development? %>
      <% env_title = "SAP - dev" %>
		<% else %>
		  <% if url_env.include? "staging" %>
        <%= env_title = "SAP - staging" %>
      <% else %>
		    <%= env_title = "Stories About Places" %>
      <% end %>
    <% end %>
    <title><%= content_for?(:title) ? yield(:title) : env_title %></title>


    <meta name="Stories About Places" content="<%= content_for?(:description) ? yield(:description) : "Stories About Places" %>">
    <meta property="og:title" content="Stories About Places"/>
    <meta property="og:type" content="Aggregator"/>
    <meta property="og:description" content="Stories About Places"/>
    <meta property="article:publisher" content="Stories About Places" />
    <meta property="article:author" content="Ron Hodson" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <% if Rails.env.development? %>
			padding_amt = ".5%"
    <% else %>
      padding_amt = "-40px"
    <% end %>
  <main role="main" style="padding-top: #{padding_amt}; padding-left: 1%">
    <!--padding needed to compensate for the header-->
       <%= render 'layouts/messages' %>
       <%= yield %>
      <%= render 'layouts/footer' %>
    </main>
  </body>
</html>
