<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_pack_tag 'favicon.ico' %>
  </head>
  <body>
    <div id="wrapper" class="<%= session[:sb_closed] || session[:sb_closed].nil? ? 'sb-closed' : '' %>">
      <%= render 'layouts/navbar' %>
      <%= render admin_controller? ? 'layouts/sidebar_admin' : 'layouts/sidebar' %>

      <div id="page-content-wrapper">
        <div class="container-fluid">
          <%= render 'layouts/messages' %>
        </div>
        <%= yield %>
      </div>
    </div>

    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
  </body>
</html>
