<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Stories about Places" %></title>
    <meta name="Stories About Places" content="<%= content_for?(:description) ? yield(:description) : "Stories About Places" %>">

    <meta property="og:title" content="Stories about Places"/>
    <meta property="og:type" content="Aggregator"/>
    <meta property="og:description" content="Stories about Places"/>
    <meta property="article:publisher" content="Stories about Places" />
    <meta property="article:author" content="Ron Hodson" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" style="padding-top: 1%; padding-left: 1%">
    <!--padding needed to compensate for the header-->
       <%= render 'layouts/messages' %>
       <%= yield %>
      <%= render 'layouts/footer' %>
    </main>
  </body>
</html>
