<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="wrapper">
      <%= render 'layouts/top_navbar' %>
      <%= render 'layouts/side_navbar' %>

      <div id="page-content-wrapper">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>

      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
